[2019-11-04 19:58] portagenetwork opened #1 "Share the santized Portage data with DCC"
- [x] UofA to share the santized version of the Portage production data with DCC. (https://github.com/ualbertalib/DMP_roadmap/pull/24)

[2019-11-04 19:59] portagenetwork commented on #1
New data is available at:
https://github.com/portagenetwork/roadmap/tree/db_sanitization/portage_sanitized_data

[2019-12-04 19:32] weiweishi commented on #1
@xsrust I just wonder, and in hope that you've already seen the dataset available here. Let me know if you have any questions.

[2019-12-05 14:52] xsrust commented on #1
Hi @weiweishi
Yep, I've been working with the above dataset, Thank you so much for sanitizing and uploading it.

I actually do have some questions/assumptions on the implimentation of the Translations in your live service that I'd like to double check.  They shouldn't affect the export of the translations in the initial step, but may have implications when we're re-associating the translations wit

[2020-01-16 13:15] xsrust opened #2 "Migration Step 1"
## Setup
Before this step, we will need to initilize docker setup and the Portage database.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step1`
2. Build the docker container:
`$ docker-compose build server`
3. Enter the container
`$ docker-compose run --rm server /bin/bash`
4. Setup the gems
`$ bundle install`
5. Setup the databas

[2020-01-16 13:22] xsrust opened #3 "Migration Step 2"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step2`
2. Enter the container
`$ docker-compose run --rm server /bin/bash`
3. Install the gems
`$ bundle install`

## Migration
1. This migration task first creates some intermediary models, and

[2020-01-16 13:26] xsrust opened #4 "Migration Step 3"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step3`
2. Enter the container
`$ docker-compose run --rm server /bin/bash`
3. Install the gems
`$ bundle install`

## Migration
1. This migration task renames the intermediate models created by

[2020-01-16 13:33] xsrust opened #5 "Migration Step 4"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step4`
2. Enter the container
`$ docker-compose run --rm server /bin/bash`
3. Install the gems
`$ bundle install`

## Migration
1. This migration task brings the schema in line with release v0.3

[2020-01-16 13:40] xsrust opened #6 "Migration step 5"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step5`
2. Enter the container
`$ docker-compose run --rm server /bin/bash`
3. Install the gems
`$ bundle install`

## Migration
1. This migration task brings the schema in line with release v1.0

[2020-01-16 13:45] xsrust opened #7 "Migration Step 6"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step6`
2. Re-build the docker container  (we switch to ruby 2.4.4 in this release)
`$ docker-compose build server`
3. Enter the container
`$ docker-compose run --rm server /bin/bash`
4. Install

[2020-01-16 13:51] xsrust opened #8 "Migration Step 7"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step7`
2. Enter the container
`$ docker-compose run --rm server /bin/bash`
3. Install the gems
`$ bundle install`

## Migration
1. This migration task brings the schema in line with release v1.1

[2020-01-16 14:00] xsrust opened #9 "Migration Step 8"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step8`
2. Enter the container
`$ docker-compose run --rm server /bin/bash`
3. Install the gems
`$ bundle install`

## Migration
1. This migration utilises a meta-task to assist with migration fr

[2020-02-20 17:21] #1 closed

[2020-05-05 16:35] xsrust commented on #9
_Note: The following set of instructions assume the data_cleanup has been run and all records are valid_
_Note: I have pushed updates to the branch migrate/step8 to fix ruby version compatibility_
## Post-validation
After the data is validated, there's a few more cleanup tasks to be run.  Additionally, as there are no database-changes, I've pulled in the code through DMPRoadmap v2.1.3 to enable th

[2020-05-05 16:48] xsrust opened #10 "Migration Step 9"
## Setup
Our docker environment and database are setup, and your git status should be clean.
1. Checkout the associated branch: (I'm assuming the remote git name is portage)
`$ git checkout portage migrate/step9`
2. Rebuild the container (I've added in some dependancies [Node, Yarn, and Wickedhtmltopdf] to the Dockerfile)
`$ docker-compose build server`
2. Enter the container
`$ docker-compose run

[2020-07-24 21:59] lagoan opened #11 "Add rake task to automatically remove old sessions"
**Expected behaviour:**
Add rake task ```rake sessions:cleanup``` that removes all sessions older than ```Devise.remember_for.ago```. ```remember_for``` is configured on ```config/initializers/devise.rb```

[2020-07-24 22:17] lagoan opened #12 "Change log location to Syslog"
**Expected behaviour:**
All log files should be directed to Syslog under the application name

[2020-07-24 23:14] #11 closed

[2020-07-24 23:14] #12 closed

[2020-08-26 16:27] lagoan opened #13 "Name of data contact is corrupted"
From the migration the name of the data contact for Université de Montréal was corrupted.

[2020-08-26 16:28] lagoan opened #14 "Number in ID field which is not associated with original DMPs"
There's a number in the ID field that doesn't come from the original DMPs from the data of Université de Montréal

[2020-08-26 16:29] lagoan opened #15 "A number of spam accounts in the list"
This can be addressed as part of the final migration process removing accounts that have not been activated through email in the last N months.

[2020-08-26 16:32] lagoan opened #16 "Application error when trying to assign admin privileges"
Got page « We're sorry, but something went wrong. » when trying to assign admin privileges by institution Université de Montréal

[2020-08-26 16:36] lagoan opened #17 "Error when requesting feedback"
Error message when I click on the request feedback button ( Error: Unable to submit your request for feedback at this time. ) by 2 institutions

[2020-08-26 16:38] lagoan opened #18 "Not authorized to perform action error when copying local template"
When click on "copy" was redirected to the Dashboard with a message indicating "not authorized to perform this action", but when went back to template listing, the copy was there.. For instutitions Western University and University of Guelph

[2020-08-26 16:41] lagoan opened #19 "Grant number changed to something from pre-populated options"
All institutions encoutnered this error when trying to update detailed description of DMP.

[2020-08-26 16:42] lagoan opened #20 "Error sharing DMP"
Application gives error  "We're sorry, but something went wrong" when trying to share DMP with others.

This error was found for all institutions.

[2020-08-26 16:45] lagoan opened #21 "Error when adding ORCID"
This is a configuration problem that needs to be addressed. This is likely fixed on an initializer.

[2020-08-26 16:46] lagoan opened #22 "Clicked on 'Link your institutional credentials' and was redirected to the Dashboard."
The link for shiboleth was still shown even when it was disabled on application.rb

[2020-08-27 15:51] lagoan commented on #20
This has to do with lacking configuration for SMTP server

[2020-08-27 15:52] lagoan commented on #22
Have the application hide  'Link your institutional credentials' link when shiboleth is disabled.

[2020-08-27 15:52] #22 closed

[2020-08-27 18:31] lagoan commented on #21
Added ORCID API keys

Currently getting the error ``Redirect URI doesn't match your registered redirect URIs.``

[2020-08-27 21:33] #21 closed

[2020-08-27 21:48] lagoan commented on #20
Fixed using localhost posftix for sending email.

[2020-08-27 21:48] #20 closed

[2020-08-27 22:00] lagoan opened #23 "Error downloading PDF file with wkhtmlpdf from repo"
When trying to download the PDF file the system outputs the error:
[code]

[2020-08-28 17:29] #19 closed

[2020-08-31 20:42] lagoan commented on #15
Added rake task to fix this issue

[2020-09-01 18:39] lagoan commented on #15
Removed multiple accounts with emails with no DNS MX record, however, there are still accounts with emails that are noticeably spam, will need to look into the first option of removing accounts that have not been activated through email in the last N months.

[2020-09-08 16:29] #17 closed

[2020-09-08 16:30] lagoan commented on #15
Added another task removing accounts that are more than 1 year old with no activity

[2020-09-08 16:30] #15 closed

[2020-09-08 16:31] lagoan commented on #23
Added support with patched QT libraries

[2020-09-08 16:31] #23 closed

[2020-09-08 20:21] lagoan commented on #14
This ID field is the internal plan identifier. This is used only for the back and and should probably be removed if it continues to cause confusion.

[2020-09-11 21:10] lagoan commented on #13
This has to do with parsing open text input with regex using wrong assumptions.

https://github.com/portagenetwork/roadmap/blob/3ae8ad4b5283ffca5733cc3eb7bc200885581e4a/lib/tasks/migrate.rake#L261-L281

Specifically line https://github.com/portagenetwork/roadmap/blob/3ae8ad4b5283ffca5733cc3eb7bc200885581e4a/lib/tasks/migrate.rake#L273

Removes characters "TtEe" From the remaining text. This sould

[2020-09-17 20:08] nmacgreg opened #24 "Missing favicon will cause lots of false-positive log entries"
**Expected behaviour:**
Standard request for favicon should yield a memorable branded icon (or, at least not cause an error message).

**Actual behaviour:**
1. Log from "dmp_assistant" - ActionController::RoutingError (No route matches [GET] "/favicon.ico") in journalctl
2. access_log:129.128.217.81 - - [17/Sep/2020:13:51:04 -0600] "GET /favicon.ico HTTP/1.1" **404** 435 "-" "Mozilla/5.0 (X11; Fed

[2020-10-16 17:31] #14 closed

[2020-10-23 21:46] #13 closed

[2020-10-23 21:46] #24 closed

[2020-10-26 20:33] #16 closed

[2020-10-28 15:38] nmacgreg opened #25 "Missing asset _tinymce_content.css"
**Expected behaviour:**
When I use the web application normally, it shouldn't generate any error messages.

**Actual behaviour:**
While clicking around in Production, and monitoring the log files, I saw /var/log/httpd/error_log getting this message:
[code]
**Steps to reproduce:**
I believe I simply clicked on :
![image](https://user-images.githubusercontent.com/3227828/97457794-b4901280-18ff-11eb-

[2020-10-28 19:52] lagoan commented on #25
Fixed in last tagged release 2.1.3+portage-0.0.31

[2020-10-28 19:52] #25 closed

[2020-11-19 20:23] lagoan opened #26 "Locale changes from fr-CA to en-CA after initial logging"
**Expected behaviour:**

After setting the desired language the site should always use this language.

**Actual behaviour:**

The language changes after account login.

**Steps to reproduce:**

1. Go to site
2. Select language fr-CA
3. Log in
4. Site will use language en-CA

[2020-11-19 22:01] lagoan opened #27 "Should be able to add emojis to text entries"
**Expected behaviour:**
Write emoji and be saved in the database

**Actual behaviour:**
Putting emoji in the answers results in an internal server error. Putting emoji in the comments (maybe more desirable) will not save.

**Steps to reproduce:**
Add emoji to text area and try to save.

[2020-11-19 22:05] lagoan opened #28 "Institution logos are missing after migration"
**Expected behaviour:**

Insitution logos should appear on each institution page on the top left corner.

**Actual behaviour:**

Logo image files are missing.

**Steps to reproduce:**

Log into the system.

[2020-11-19 22:07] lagoan opened #29 "Missing data after migration"
**Expected behaviour:**

UQTR Guidelines and UQAM templates should appear on the system.

Need to check if they were added to the current system after test data migration.

[2020-11-19 22:12] lagoan opened #30 "Verify user data migration with defaults"
Assumptions are made with the data migration that may not be the best solution.

User from UQAM made a comment from the beta test:

The home organization replaced by "Portage Network"
My language has been transferred as "English (GB)", unrelated to my situation

[2020-11-19 22:14] lagoan opened #31 "UQTR not transfered"
Comment from the user in the beta test:

The home organization had not been transferred

[2020-11-19 22:42] lagoan opened #32 "UQAM not transferred"
Comment from a user in the beta test:

same as UQTR = UQAM model: I don't see how to choose the UQAM model or any other specific model. When creating the PGD, I selected UQAM under "Principal research organization", but this did not allow me to select the UQAM model. It says “This plan is based on the Portage Template provided by McGill University. This is the generic DMP template for Portage "und

[2020-11-19 22:45] lagoan opened #33 "Concordia data may be missing"
Comment from a user from the beta test:

Concordia guidance not available

[2020-11-19 22:46] lagoan opened #34 "System lag when saving"
Multiple reports of slowness when using the system.

One user from the beta test comments:

One of our testers experienced slowness: Recording information and navigating between tabs is sometimes very slow. Perhaps the problem was due to the influx of people on the test platform.

[2020-11-19 22:48] lagoan opened #35 "Unable to create plan"
A user from the beta test comments:

Unable to create a plan. The page says "we found multiple DMP templates corresponding to your funder," but there's nothing in the drop down menu, and when I click create plan I get a yellow banner at the top of the page that reads "Error: Unable to identify a suitable template for your plan" This happened whether or not I checked the mock project box or the no

[2020-11-19 23:16] lagoan opened #36 "Cannot select plan visibility"
From a user in beta test:

Default plan visibility for mock projects cannot be set.

Set plan visibility: nothing was selected by default and I could not select anything (my cursor turned into a little circle with bar in it when I tried to click on a selection). My plan was a "mock plan" so should the visibility have been set to private by default?;

[2020-11-19 23:19] lagoan opened #37 "Comment can only be edited once"
From a user in beta test:

The first comment I added and saved worked well. When I clicked on "Edit" under the comment, I was able to edit it, but when I clicked saved, nothing happened. I clicked save a couple of times, and nothing happend. I went to another section and entered a comment and clicked save for that comment, and nothing happened either. So I moved away from the page (when to the pro

[2020-11-20 19:18] lagoan commented on #27
This problem lies in how the database is built.

Next database dump should be modified with:

%s/character_set_client = utf8/character_set_client = utf8mb4/g
%s/CHARSET=utf8/CHARSET=utf8mb4/g
%s/utf8_unicode_ci/utf8mb4_unicode_ci/g

[2020-11-20 21:07] lagoan commented on #32
Verified the data is missing after data migration.
The next step is to check where the data was lost.

[2020-11-23 18:09] lagoan commented on #32
The Guidence information is in fact there. Need to find the reason why Guidence Group information is not being shown.

[2020-11-24 18:05] lagoan opened #38 "Template visibility cannot be set"
**Expected behaviour:**
Templates should be have a visibility value.

Before one could set the type of visibility for templates for a value of: organizationally_visible or publicly_visible.

**Actual behaviour:**
Right now the view for setting this value has been removed but the value is still being checked for different searches.

**Steps to reproduce:**

Create template, and then update it. The

[2020-11-24 19:18] lagoan commented on #36
This is by design. Mock projects are set to Private and all other projects need to have a certain percentage of answered questions before they can be shared. This value is by default 50%.

[2020-11-24 19:18] #36 closed

[2020-11-24 19:23] #38 closed

[2020-11-24 19:24] lagoan commented on #29
This github issue has been broken down into multiple instances.

#31 #32 #33

[2020-11-24 19:24] #29 closed

[2020-11-26 22:03] lagoan commented on #32
This will be resolved by reintroducing Theme and Guidance models

[2020-11-26 22:03] #32 closed

[2020-11-26 22:04] #31 closed

[2020-11-26 22:04] lagoan commented on #33
This will be resolved by reintroducing Theme and Guidance models

[2020-11-26 22:04] #33 closed

[2020-12-07 19:57] lagoan opened #39 "The empty "" msgid has been corrupted and shows part of the po header"
**Expected behaviour:**
Operator call `_("")` should return  a blank string

**Actual behaviour:**

The call actually returns the po header:

`Project-Id-Version: roadmap 1.0 Report-Msgid-Bugs-To: contact@translation.io POT-Creation-Date: 2020-12-07 12:27-0700 PO-Revision-Date: 2020-12-07 20:27+0100 Last-Translator: FULL NAME <EMAIL@ADDRESS> Language-Team: English Language: en_CA MIME-Version: 1.0

[2020-12-09 17:32] lagoan commented on #39
This is actually the expected behaviour. Documentation explaining this here: https://www.gnu.org/software/gettext/manual/gettext.html

Removed all calls to translate empty strings with gettext.

[2020-12-09 17:32] #39 closed

[2021-03-09 17:06] #2 closed

[2021-03-09 17:06] #3 closed

[2021-03-09 17:06] #4 closed

[2021-03-09 17:06] #5 closed

[2021-03-09 17:06] #6 closed

[2021-03-09 17:06] #7 closed

[2021-03-09 17:06] #8 closed

[2021-03-09 17:06] #9 closed

[2021-03-09 17:06] #10 closed

[2021-03-09 17:06] #34 closed

[2021-03-09 17:06] #27 closed

[2021-03-09 17:06] #30 closed

[2021-03-17 15:45] #35 closed

[2021-03-17 15:45] #28 closed

[2021-03-17 15:45] lagoan commented on #26
Fixed this on initial deployment.

[2021-03-17 15:45] #26 closed

[2021-03-18 15:50] lagoan opened #40 "Missing guidance after migration"
The guidance from Université du Québec à Trois-Rivières is missing after the migration to 2.0.

Will look into the original database and pull the data and add it to current production instance.

[2021-03-18 15:52] lagoan opened #41 "New Portage templates do not appear on public templates page."
**Expected behaviour:**

Portage templates should appear as public to be used by all organizations.

**Actual behaviour:**

The templates do not appear

**Possible fix:**
Mark Portage as a funder on the super administrator side and edit references that show content for "Funder only" organizations to only check if organization is also a Funder

[2021-03-18 15:56] lagoan opened #42 "Portage template appears twice when creating a new Plan"
**Expected behaviour:**
The Portage template should only appear once when listing available templates to the user.

**Actual behaviour:**
The Portage template appears two times

![image](https://user-images.githubusercontent.com/1537909/111656070-cf402680-87cf-11eb-9a5f-217c58871a0e.png)

This is likely cause because now Portage is both a Funder and has the default template.

**Steps to reproduce:

[2021-03-18 16:07] lagoan opened #43 "Title of copied Plan shows "Copy of" text as part of the title, even when application is in French"
**Expected behaviour:**

When the language is set to French, all of the content should be presented in French.

**Actual behaviour:**

There is a minor piece of text that appears in English under the Frennch language:

![image](https://user-images.githubusercontent.com/1537909/111656560-41b10680-87d0-11eb-813e-e8dae024ad3a.png)

**Steps to reproduce:**

Copy a Plan

[2021-03-18 17:32] #43 closed

[2021-03-18 17:32] #41 closed

[2021-03-18 17:33] lagoan opened #44 "Add feature to get reports from all organizations"
**Expected behaviour:**

When creatingf reports add the ability to get them aggregated from all organizations.

**Actual behaviour:**

Right now we can only get reports from a single selected organization.

[2021-03-24 18:04] lagoan opened #45 "Remove unneeded text from share plan view"
The share plan view includes the text :

[code]
On the plan visibility. The 0% has been configured for our application and it is no longer needed here.

We should show that piece of text when the percentage is higher than 0.

[2021-03-24 20:17] lagoan opened #46 "Saving organization's feedback text removes the organizatoins logo."

[2021-04-06 19:35] lagoan commented on #42
This issue has now been fixed

[2021-04-06 19:35] #42 closed

[2021-04-09 15:19] lagoan opened #47 "Make "project details coversheet" the default when downloading a plan"
**Expected behaviour:**

The option to show the cover sheet when downloading a plan should be selected (true) by default.

**Actual behaviour:**

Right now this option is false by default.

[2021-04-20 16:29] lagoan opened #51 "Add client side form validations"
**Expected behaviour:**

When filling out a form and a field does not pass validation, the browser should let the user know of the problem without submitting the form.

**Actual behaviour:**

Currently the form is sent regardless of validation, and if there is a problem with the data a flash sign is shown but all of the form is left blank

We should look into adding a client side validator such as

[2021-04-20 17:00] lagoan opened #52 "Privacy/Administrator access problem"
**Expected behaviour:**

When an organizational administrator views a private plan, she should only have access to the questions and not the answers of such plan.

**Actual behaviour:**

Right now, the organizational administrator has read access to all organization private plans.

**Steps to reproduce:**

An organizational administrator account looks into a private plan and can see the answers.

[2021-04-21 15:33] lagoan opened #53 "Usage statistics only go as far back as January 2021"
Flagging an issue with the Usage Statistics dashboard within the DMP Assistant: One of our users observed that the usage statistics only seem to be available up until January 2021 and I have confirmed this is the case currently:

![image](https://user-images.githubusercontent.com/1537909/115587042-73633480-a28a-11eb-8e5d-34741a7c446f.png)

[2021-04-28 17:16] #52 closed

[2021-04-28 17:41] #47 closed

[2021-04-29 16:48] lagoan commented on #53
This problem is solved by running the rake task ```rake stat:build``` on a daily basis.

[2021-04-29 16:48] #53 closed

[2021-04-29 16:55] lagoan opened #54 "Copying a template does not copy the template's annotations"
**Expected behavior:**

When copying a template, the full content should be recreated.

**Actual behavior:**

The copied template does not contain the question-specific annotations.

**Steps to reproduce:**

Copy a template and the annotations will not be present.

[2021-05-12 17:06] lagoan commented on #44
This has been fixed.

[2021-05-12 17:06] #44 closed

[2021-05-12 17:08] lagoan opened #55 "Frenc translations are not updated automatically in production"
**Expected behaviour:**

The french translation text should be refreshed on production site with every rake translation task.

**Actual behaviour:**

The rake task is run, the files are downloaded but the interface is not updated.

[2021-07-02 18:49] lagoan opened #56 "Reorder items in administrator activity drop down menu"
Change administrator dropdown menu from admin view to:
Admin Dropdown Menu
+ Preferred Order:
+ Organisation details
+ Templates
+ Guidance
+ Plans
+ Users
+ Usage

[2021-08-10 18:37] lagoan opened #57 "Organization dropdown does not work on user create form."
**Expected behaviour:**

The organization dropdown menu should autopopulate as the user starts typing the name of her organization.

**Actual behaviour:**
The Organization list/dropdown menu doesn’t seem to work/auto populate when creating or editing an account, but works for selecting templates creating plans = is this because the production instance database isn’t linked?

**Steps to reproduce:*

[2021-09-22 21:55] lagoan opened #60 "Remove more spam user accounts"
**Expected behaviour:**
We should make the rake task to remove spam more aggressive.

This could be done by checking for spam accounts that have not verified their email in a shorter time span instead rather than a full year.

This rake task should be run when going through an upgrade with downtime involved.

[2021-10-12 16:38] nmacgreg opened #62 "Modifications needed for new Sandbox environment"
When I use Ansible to bootstrap the new server for the "sandbox" environment, I run into problems that ought to be solved within the codebase, not within the Ansible playbook.  Note that in this environment, the database server will be "localhost".

**Expected behaviour:**
* ```RAILS_ENV=sandbox bundle exec rake db:version``` should not throw errors (it should fail if the database doesn't exist, a

[2021-11-23 19:47] #56 closed

[2021-11-23 20:00] lagoan opened #68 "Clarify information from download file ino usage statistics page"
This change requires:

- [ ] Change name of the downloaded file
- [ ] Change the column name in the file content

On the usage statistics page, when downloading the file for "No. plans during last year", the file name is "completed_plans.csv".
This is is misleading/confusing.

The name should be changed to "created_plans.csv"

The file content also has a column called "Completed Plans". This shoul

[2021-11-23 20:12] lagoan commented on #68
It looks like there is another problem related to this issue.

The download button does not show up for organizational administrators on the current integration branch. Will need to look into this.

[2021-11-24 18:15] lagoan opened #70 "Multiphase Plan Download/Export Option"
When downloading a plan, the current behaviour is to download a single phase

![image](https://user-images.githubusercontent.com/1537909/143292434-452f9858-0fb9-49b2-a9a0-5c795b2739b3.png)

We need to add an option to download all phases where it makes sense.

CSV files may be problematic because they represent a tabular view of the data. For that instance, we can think about building a zip file w

[2021-11-25 17:57] lagoan opened #73 "Tab widget not working on user profile view"
**Expected behaviour:**

Users should be able to navigate through their edit profile view sections by clicking on each of the top tabs.

![image](https://user-images.githubusercontent.com/1537909/143485407-cad3628f-b50c-475d-866e-1172336c0103.png)

**Actual behaviour:**

The edit profile content is presented on a single page. The tabs do change if they are active but the content stayt the same.

*

[2021-11-25 21:33] pengyin-shan commented on #70
@lagoan  currently there is no phase selection for JSON (and we are not displaying phase information in json). Should I add it? if so I'll add it as a separate ticket

[2021-11-26 17:29] lagoan commented on #70
You are right @pengyin-shan, we should add this change on another ticket, same as with the CSV download.

[2021-11-26 17:33] pengyin-shan commented on #70
Cool, I'll add it as a separate ticket. For now, I'm keeping original setting: JSON has no phase selection. CSV has phase selection but no 'All Phase' selection for user

[2021-11-26 18:10] pengyin-shan opened #75 "Add Phase selection (single & all) for JSON download"
See descriptions for 'All Phase' download in #70

Add phase selection option for JSON download, and allow user to download single phases or all phases

[2021-11-26 20:57] pengyin-shan opened #77 "Allow all-phases download to zip file for csv format"
#70 follow up

Similar to other format, CSV should have a 'All Phases' download option. In order to avoid data error in csv, the 'All Phases' download option should allow user to download a ZIP file, and unzip to see that each phase has a distinct csv file with corresponding phase data.

[2021-11-26 22:21] pengyin-shan commented on #75
@lagoan  as we discussed, this request is pending for future discussion. I'm closing it for now

[2021-11-26 22:21] #75 closed

[2021-11-26 22:21] pengyin-shan commented on #77
@lagoan  as we discussed, this request is pending for future discussion. I'm closing it for now

[2021-11-26 22:21] #77 closed

[2021-12-01 18:36] #73 closed

[2021-12-01 20:39] lagoan opened #81 "Change label to Plan visibility public plan"
**Expected behaviour:**

We need to clarify what public visibility will mean for public created plans.

We should change the description to:

```Public: this will make plans publicly available from Public DMPs page, viewable and downloadable by other users```

**Actual behaviour:**

Currently, the plan visibility description says `Public: anyone can view`

![image](https://user-images.githubuserco

[2021-12-01 20:48] lagoan opened #82 "Add popover information to Organization details view"
We need to clarify what `Organization type(s)` means on the Organization details page.

Add Floatover Text for "Organization type(s)" field on Organization details page (e.g., "This information can only be changed by a system administrator. Contact support@portagenetwork.ca if you have questions or to request changes.")

The floatover text should appear in the same what that the floatover text app

[2021-12-01 21:20] pengyin-shan commented on #81
@lagoan just to confirm, we don't have a translation for 'this will make plans publicly available from Public DMPs page, viewable and downloadable by other users' in translation.io yet, should I discuss this sentence with any professional translator?  Or I continue to use the one-word translation such as 'Público'?

[2021-12-01 23:25] pengyin-shan commented on #62
@nmacgreg I'm on it. Once I'm done with coding part I'll double check with Omar and merge with the uat code.

[2021-12-02 18:29] lagoan opened #83 "Error in email collaboration invitation link"
The collaboration email invitation link has the following problems:

- It has an extra "/" in the URL (see below); as a result, it doesn't work if someone doesn't notice this issue
- It's "http://" instead of "https://": http://assistant.portagenetwork.ca//users/invitation/accept?invitation_token=TOKEN

The correct link should be

https://assistant.portagenetwork.ca/users/invitation/accept?invitat

[2021-12-03 18:54] pengyin-shan commented on #62
Modified code in issue62 branch. Will need to merge changes from integration branch once the node setup got fixed.

[2021-12-03 22:05] pengyin-shan commented on #81
@lagoan : I tested the translation in `dmp-assistant-test` project as following:
![Screen Shot 2021-12-03 at 5 00 39 PM](https://user-images.githubusercontent.com/92752107/144678522-6d1929cb-6880-494d-b933-ce5402d7d896.png)
But I didn't do anything to `dmp-assistant` project in case I disrupt the production version. So in order to get a correct translation in `dmp-assistant`, should I just add the

[2021-12-03 22:20] lagoan commented on #81
The translation files need to be resynched after they are updated in translation.io . Curerently this requires running a rake task to download the new content.

For now, I would suggest contacting @robynnicholson to make sure that translation is handled by our team of translators.

We will not be working on the translation side of the project unless it requires technical input.

I believe the rake

[2021-12-03 22:26] pengyin-shan commented on #81
@lagoan Got it. Yeah I ran the `rake translation:sync` and got the translation I need in development environment for `dmp-assistant-test`.

So I think my next step is to contact @robynnicholson to confirm the translation in `dmp-assitant-test`, then after she confirmed, I can sync with `dmp-assistant` to make the new term being uploaded to `dmp-assistant`. I then add the same translation and sync

[2021-12-03 22:45] lagoan commented on #81
For now just to have her double check the translation
We will update the translation in the production project once everything is translated

For now don't update the translation files

[2021-12-06 21:02] pengyin-shan commented on #82
@lagoan I made the change using example string `This information can only be changed by a system administrator. Contact support@portagenetwork.ca if you have questions or to request changes.`in branch #issue62, just want to confirm we gonna to also need a translation for this string right (I will update translation.io and add tag)? Or I should ask Robyn to propose a new English string first?

[2021-12-06 21:40] lagoan commented on #82
That is great!
When making the change of text, make sure you are using `Rails.configuration.x.organisation.email` to fetch the email address, we may change the contact email at some point and it would be great if there if we need to change it in only one place (I do know that it is hardcoded in other areas but we should avoid it whenever possible).

We will need the translated string. For now, syn

[2021-12-07 16:58] pengyin-shan commented on #82
Modified code to use `Rails.configuration.x.organisation.email`. Robyn has been notified for the translation in https://translation.io/ualbertalib/dmp-assistant-test/fr-CA?segment=6a0bca3d&query=This%20information%20can%20only%20be%20changed%20by%20a%20system%20administrator.%20Contact%20%25%7Bsupport_email%7D

[2021-12-07 17:52] pengyin-shan opened #86 "Make 'Funding status' dropdown being a required field"
1. As discussed with Robyn in Slack, making the 'Funding status' dropdown menu on the 'Project Details' page to be a required field.
2. Add validation for this feature.

[2021-12-07 19:06] lagoan commented on #83
This was an error in configuration.

[2021-12-07 21:52] pengyin-shan commented on #86
![Screen Shot 2021-12-07 at 16 47 46](https://user-images.githubusercontent.com/92752107/145111302-5ae57c53-e495-4130-8342-194bfb8a8ad5.png)

@robynnicholson  a default validation box will look like this (in my firefox) if someone doesn't select from the dropdown and try to save plan. Do you want any styling to the validation box or make any changes to this default wording?

[2021-12-08 13:40] robynnicholson commented on #86
Thanks for looking into this @pengyin-shan! So just to clarify, the user must make a selection from the dropdown in order to complete the save of their plan?

[2021-12-08 15:48] pengyin-shan commented on #86
@robynnicholson  if we set this field is required then user must select from drop-down list. If we don't want it to be required (as we said today in Slack) this behaviour will be disabled (which I think this is uat's default setting now).

[2021-12-08 15:49] pengyin-shan commented on #86
This field is supposed to be not required. Close the ticket and maintain current behaviour

[2021-12-08 15:49] #86 closed

[2021-12-09 17:58] pengyin-shan opened #89 "Unpublish Template Workflow for Admin"
**Expected behaviour:**
1. Org admin & Super admin can remove a template only if **no one is using it in a plan**. If admins try to do it, we will show an error message saying something like 'this template is using in a plan. You can only unpublish it'
2. Again, If a template is using by some, Org admin & Super admin can **unpublish it**. The status of the template will be changing to **unpublishe

[2021-12-09 18:03] pengyin-shan opened #90 "Funder Status Check for 3.0 Release"
@lagoan  to confirm the issue about funding status we discussed in the meeting, we want to change the dropdown to textbox? Or we just need a translation?
![Screen Shot 2021-12-09 at 15 13 32](https://user-images.githubusercontent.com/92752107/145468902-6ca18cbf-d2a1-4ea6-8ca3-a531f96d08f0.png)

[2021-12-09 18:31] robynnicholson commented on #89
Hi @pengyin-shan:
1. If this is the current behaviour/logic, then certainly an error message could be a good addition, perhaps "This template has been used to create a plan, and can no longer be removed. Templates in use may be unpublished or edited."
2. This sounds correct to me.
3. This would probably be a good idea as well, but may require some further discussion - I'll add it to the Change Req

[2021-12-09 19:58] pengyin-shan commented on #89
@robynnicholson good, I'll work on the 1) and 2) for now since we have confirmed request for it. let me know if 3) also need to be implemented.

[2021-12-09 20:05] pengyin-shan commented on #70
@robynnicholson : this feature is in uat now. Feel free to test it and let me know if you notice anything unexpected. thanks!

[2021-12-09 20:06] pengyin-shan commented on #68
@robynnicholson this feature is in uat now. Please feel free to test it and let me know if there is anything unexpected. thanks!

[2021-12-09 20:19] robynnicholson commented on #70
@pengyin-shan works perfectly for me, thank you! Just to clarify, judging by yours and @lagoan's comments on this issue thread, and through testing, "All Phases" is a download option for all file format types except CSV and JSON? Otherwise, I've tried downloading other file formats and they look great!

[2021-12-09 20:22] pengyin-shan commented on #70
Yes. Sorry I should give you a overview first..."All Phases" is a download option for all file format types except CSV and JSON for now. If you switch to JSON and CSV this option should be hidden. CSV and JSON requires different feature development, so this ticket we only gonna to take care of DOCX, PDF, TXT and HTML

[2021-12-09 20:29] robynnicholson commented on #70
That makes sense, thank you for clarifying! All looks good to me :)

[2021-12-09 20:36] pengyin-shan commented on #70
Thank you! I'll close this issue then

[2021-12-09 20:36] #70 closed

[2021-12-09 21:20] robynnicholson commented on #68
@pengyin-shan works for me! File name and column both changed to "created" rather than "completed" which is exactly what we were after. Thanks!

[2021-12-09 22:15] portagenetwork commented on #68
Thank you for confirmation! I will close this issue then

[2021-12-09 22:15] #68 closed

[2021-12-10 21:12] pengyin-shan commented on #89
1) Confirmed that in current version, the 'Remove' function in template is not available if a plan is using it. Thus we don't need to add notification for it
2) Confirmed that even a plan is using the template, the admin can still 'unpublish', no notification will be sent out.

We also got test already in code:
![Screen Shot 2021-12-10 at 16 10 18](https://user-images.githubusercontent.com/9275210

[2021-12-13 13:54] robynnicholson commented on #89
Hi @pengyin-shan, thank you for looking into this!. I have confirmed both behaviours are true in UAT 3000. I think we can close this ticket for now in that case, as the current behaviour makes sense and is not disruptive to users. That being said, I have still added an item to our Change Request Registry to talk about perhaps in the future considering a user notification whenever a template is unp

[2021-12-13 13:58] robynnicholson commented on #82
@pengyin-shan @lagoan Hi both, just following up on this issue, the translation has been added and verified in the dmp-assistant-test project on translation.io. Thanks!

[2021-12-13 14:16] pengyin-shan commented on #82
Great, I will close this ticket then, thanks for confirmation!

[2021-12-13 14:16] #82 closed

[2021-12-13 14:18] pengyin-shan commented on #89
Thanks for confirmation. We can add user notification as a new feature if we decide to do it in the future. For now I'll close this ticket.

[2021-12-13 14:18] #89 closed

[2021-12-13 16:39] pengyin-shan commented on #90
@robynnicholson could you verify this issue? do you want to check the appears of dropbox? or we need want a translation form items in dropdown?

[2021-12-13 16:42] pengyin-shan commented on #81
Changes merged to integration branch and deployed in uat. Close this ticket

[2021-12-13 16:42] #81 closed

[2021-12-13 16:57] robynnicholson commented on #90
@pengyin-shan This dropdown can remain as is, it is the "Funder" field above it we want to change to a free-text textbox (as opposed to a "Type to select from a dropdown" field as it is in the UAT 3000 instance currently). For the "Funding status" field, we do need translations, yes. A quick search in the dmp-assistant-test project on translation.io indicates "Funding status" and "- Please select

[2021-12-13 17:47] lagoan commented on #90
I will add tickets to address the issues of:

- Add funder status values to translation.io
- Change Funder filed to free-text textbox as it is in current deployed version

[2021-12-13 18:00] lagoan opened #92 "Translate values for Funding status"
The values for funding status are not being added to translation.io after synchronizing the code

This problem is mentioned in #90

The reason these values are not showing up is that they are saved as an `enum` in the `plan` model as the flag `funding_status`.

https://github.com/portagenetwork/roadmap/blob/da1c9856154d7b0f8e65fe8d7901a8414e505524/app/models/plan.rb#L71-L74

Here are the values be

[2021-12-13 18:43] pengyin-shan commented on #92
@lagoan thank you, I'll modify code accordingly. Also for the changing to 'free-text' part of #90, did we mean type-in text field (like a auto-complete input field with only available options allowed?)

[2021-12-13 18:46] lagoan commented on #92
For the end-user it will look like a text box. The back end will still have some logic in it but that is already implemented in a previous version. Will get back to you shortly with this.

[2021-12-13 19:25] pengyin-shan commented on #92
Changes of code is done in issue92 branch.

@robynnicholson I uploaded 'planned', 'funded' and 'denied' terms to `dmp-assistant-test` and tag them as `needs review`. Please let me know when you confirm the translation and I'll sync again to get your update

[2021-12-13 21:43] lagoan opened #93 "Revert Funder field to text box widget"
We need to change the current widget behavior on the Plan details edit view for the funder field.

Right now the view uses a custom widget that pulls information from the database as the user enters text into the text field. The widget shows a warning if the entered text does not match an entry in the system.

![image](https://user-images.githubusercontent.com/1537909/145885970-04152a7b-7c43-47b6-

[2021-12-13 21:46] pengyin-shan commented on #93
@lagoan ok, so we gonna to make this change and re-deploy to staging/production right?

[2021-12-13 21:46] lagoan opened #94 "Fix usage statistics Org count"
Fixing issue #93 shows that all changes in a plan's funder create a new organization. This will add noise to the current way we are fetching statistics as we do not filter the count:

https://github.com/portagenetwork/roadmap/blob/8ab5afc91f49dbd6a1baeb39bd4be0e6e5632935/app/controllers/usage_controller.rb#L80-L82

We should look at how current listings for organizations ignore these created funde

[2021-12-13 21:58] lagoan commented on #93
We can wait to redeploy this into staging/production for a bit.

Lets just gather more changes into integration and then push to UAT.

[2021-12-14 16:22] pengyin-shan commented on #93
@lagoan what's the rule for funder id after we switch to text box? currently the auto-complete forces it to be an existing organization so we have org id already in our database. Should now we generate a new funder id every time user put something new?

[2021-12-14 16:41] lagoan commented on #93
The org model has an `org_type` flag which can hold multiple values

https://github.com/portagenetwork/roadmap/blob/da1c9856154d7b0f8e65fe8d7901a8414e505524/app/models/org.rb#L169-L175

A Funder is an instance of the org model with the `org_type` value set to funder.

We will not need to check for funder_id.

I think the way to go would be to continue to use the method used in the plan controller

[2021-12-15 23:02] pengyin-shan commented on #93
@lagoan one more thing to confirm...we should hide the random organization created (i.e. unmanaged) from the list of creating a new plan right (in case too much noises raise like the following):
![Screen Shot 2021-12-15 at 17 58 20](https://user-images.githubusercontent.com/92752107/146277862-2e0ef7b1-6059-43fe-96db-5a148754b1c8.png)

And I think same idea should apply to all the org dropdown, suc

[2021-12-21 16:26] pengyin-shan opened #99 "Traslation Sync on Both UAT and Production"
@robynnicholson I will update the sync status to you in this ticket. I plan to

1. Sync the translation you marked yellow in Google Doc and push to uat
2. Once you confirm the translations are correct on uat, I'll sync again to upload the translation in uat to `dmp-assistant` translation.io (i.e. the source of translation for production environment)
3. Do a sync on production environment (I might

[2021-12-21 19:22] pengyin-shan commented on #99
@robynnicholson I updated UAT. Could you please verify if the translations have been synced when you have time? Then I'll update production branch. thanks!

[2021-12-21 19:30] robynnicholson commented on #99
Hi @pengyin-shan - just checked UAT 3000, the translations do not seem to have synced, unfortunately. The entries I know were added, translated and verified in translation.io (i.e., the "Funding Status" dropdown) are still in English, though the others in the Google doc list I sent are not yet in translation.io yet, which could be another issue.

[2021-12-21 19:39] pengyin-shan commented on #99
@robynnicholson Ops let me check it...

[2021-12-21 22:58] nmacgreg opened #101 "Dockerfile references the old version of ruby"
Please complete the following fields as applicable:

**What version of the DMPRoadmap code are you running? (e.g. v2.2.0)**
My RPM is: dmp-3.0.0-6.x86_64

**Expected behaviour:**
Dateline, Dec 9, 2021, we updated the Staging environment with this new version, and Ruby to v2.6.6:
[root@southampton ~]# rpm -q ruby
ruby-2.6.6-0.el7.x86_64

I expected that the Dockerfile would be updated to the same v

[2021-12-21 23:50] pengyin-shan commented on #99
@robynnicholson I updated UAT, could you let me know if you can see the translated version now?

[2021-12-22 14:50] robynnicholson commented on #99
Hi @pengyin-shan, just checked UAT 3000, no translations are appearing, and no new entries on translation.io, unfortunately.

[2021-12-22 16:16] pengyin-shan commented on #99
Thank you @robynnicholson , so you are satisfied with the current translation on uat right? If so I will sync to the `dmp-assistant` translation.io instead of `dmp-assistant-test` as uat on now. After that, Neil can help us to grab new translation by restarting the production web server. We can choose to do it on this Friday or after the new year to avoid some auto-reboot accident on production se

[2021-12-22 16:56] robynnicholson commented on #99
Hi @pengyin-shan - I am satisfied with the current translation on uat, yes. As you suggest, I think restarting the production server can wait until the new year, to avoid any errors or accidents over the break.

Thank you for flagging the code-level translations. No rush on these at all, we can definitely address these more complex deployments in the new year.

[2021-12-22 17:19] pengyin-shan commented on #99
Ok, let's schedule the sync after the new year...in case unexpected accidents occurs and we gonna to have enough time to deal with it

[2021-12-22 18:10] pengyin-shan commented on #101
@nmacgreg thank you for pointing it out! I adjusted the ruby version for both Docker file accordingly. So far we use `Docker-production.yml` for the uat branch. I think we might gonna to update `Docker.yml` in the future.

[2021-12-22 18:10] #101 closed

[2021-12-24 20:54] pengyin-shan commented on #92
translation task assigned in #99. close this issue

[2021-12-24 20:54] #92 closed

[2021-12-24 20:57] pengyin-shan commented on #90
#93 reflected tasks of changing Funder auto-completion to free-text textbox. #99 reflected the translation.io task. close this issue accordingly

[2021-12-24 20:57] #90 closed

[2022-01-04 19:09] lagoan opened #103 "Fix MySQL tests"
This issue has to do with our GitHub workflow.

The MySQL workflow is failing after we performed upgrades. We know that the tests pass on our local development environment so we should take some time to fix the tests on the workflow.

The tests seem to fail due to unmet package dependencies. For example [https://github.com/portagenetwork/roadmap/actions/runs/1620185245](https://github.com/portagen

[2022-01-05 17:40] robynnicholson opened #105 "Update to Landing Page Text"
Request to update the text on the landing page - required changes outlined in the following Google doc (under 'Updated Content'):  https://docs.google.com/document/d/1UGiobPFLt2P0WXqIVWYbMS2w2T56UJ1YLM2QNoOGmnk/edit?usp=sharing.

[2022-01-05 21:50] pengyin-shan opened #107 "UAT statistics only shows data from Jan - May 2021"
Not on production.

[2022-01-06 21:06] pengyin-shan commented on #103
changes merged to integration

[2022-01-06 21:06] #103 closed

[2022-01-07 18:18] lagoan opened #109 "Update project documentation"
The current README.md file is way out of date and it is also representing the current state of the main [codebase from DCC](https://github.com/DMPRoadmap/roadmap).

Updating the documentation includes:

README.md file

- [x] The current versions of the software we are using
- [x] Information about the function of the fork as a customization of the original code base with the requirements of the [A

[2022-01-07 21:58] pengyin-shan commented on #107
@robynnicholson When I was navigating this issue, I was doubting if the task to create stats didn't got triggered correctly. Then I found following in my communication with Neil before the break (*stat* is the task to generate statistics):

![Screen Shot 2022-01-07 at 15 35 36](https://user-images.githubusercontent.com/92752107/148604009-e221204a-3b3f-498c-bab3-f2d572c6fc71.png)

I believe this me

[2022-01-11 01:03] nmacgreg commented on #83
As requested, in Staging, I set
`  mailer_default_host: "https://assistant.portagenetwork.ca"
`
for the [staging] stanza, and re-tested the sequence of inviting (my personal email) to an existing plan.
I received the invitation, and it used the correct "token" format, but it referenced the Prod hostname.
Subsequently, I created a userid in Staging with my personal email, and mangled the URL from t

[2022-01-11 01:15] nmacgreg commented on #83
In Staging, I changed the config back to the original,
`      mailer_default_host: "https://dmptest.library.ualberta.ca"
`
... and then sent another invitation.  This time, the URL in the invitation did NOT use the "token" format.  But it did work - I merely refreshed the Dashboard view, while logged in as the invitee, and I could see the new-to-me Plan.  I also clicked on the URL from the invitat

[2022-01-11 01:16] nmacgreg commented on #83
Also, being really picky, the format of the email seems to be the same, whether the invited user has an account, or not.
If the user doesn't have an account, shouldn't the email make it clear that you must sign up for an account first?

[2022-01-11 01:31] nmacgreg commented on #83
[Prod]
In Prod, I confirm the configuration was wrong `mailer_default_host: "https://assistant.portagenetwork.ca/` (with trailing slash).
I've fixed this, removing the trailing slash from the config.

I re-tested it, sending an invitation to *another* personal email that does not have an account in DMP Prod, and I re-confirm the use of the "token"-style URL, eg:
`http://assistant.portagenetwork.ca

[2022-01-11 17:21] pengyin-shan commented on #83
@nmacgreg thank you a lot for your help!! I really appreciate you for configuring and updating us the details.

So as a conclusion, now we have:

1) On production: `mailer_default_host="https://assistant.portagenetwork.ca"`. No double slash anymore.
- If a invitee has not registered with DMP Assistant before, the invitation_token will appear. The invitee will be automatically directed to a page to

[2022-01-11 17:38] pengyin-shan commented on #109
@lagoan for the MIT license, we currently have link to https://github.com/portagenetwork/roadmap/blob/deployment-portage/LICENSE.md, which doesn't have U of Alberta listed. Before I add U of Alberta in, should there be any legal process to be done first?

[2022-01-11 17:41] pengyin-shan commented on #109
As a note, changing `About` part in Github repo description to DMP Assistant later.

[2022-01-11 17:50] lagoan commented on #109
As I understand the MIT license we should be able to add the Alliance and the UofA but we should run that by the team, maybe we do need input from someone more versed in legal matters. @robynnicholson let's talk about this in our next check-in.

[2022-01-11 18:09] robynnicholson commented on #83
Hi @pengyin-shan,

3. To confirm, the issue(s) we received (one yesterday, one last week, a few more before the break identifying the same issue) were instances where a user without an account received a "A DMP has been shared with you" invitation email, but the URL provided in the automatically generated email  leads to an error message (page unresponsive), either the first time they clicked the

[2022-01-11 23:40] pengyin-shan commented on #109
@robynnicholson @lagoan I updated README.md as an entry point of the project: https://github.com/portagenetwork/roadmap/tree/issue109, bottom of project page. Please let me know if it looks good to you and anything I miss, especially description about the Alliance. Thank you!

Please note that some links will connect to empty wiki pages, which are the next thing I'm working on

[2022-01-12 15:36] robynnicholson commented on #109
@pengyin-shan Looks good to me, just made a couple slight adjustments to the text and committed the changes. Thanks for getting that set up, great to have the documentation polished up!

[2022-01-12 15:47] pengyin-shan commented on #109
@lagoan could you pls verify that:
1) the version for Ruby, Rails & MySQL makes senses? (we use MySQL8 for Github Action now after fixing the issue, thus I changed requirement to MySQL 8)
2) In contribution.md, which branch we want to have if we want to replace 'development' branch in description
3) What's the contact information we can give to users & developers/admins for support? I'll put it in

[2022-01-12 17:31] pengyin-shan commented on #109
@lagoan for Docker image, do you want to update images to U of Alberta repo instead of your repo? I will update url in wiki then.

And we suggest user to download `latest` image right instead of a specific version right?

[2022-01-13 19:50] pengyin-shan commented on #109
@lagoan : when I was refreshing the setup process by running `bin/setup` and failed on one task `mime_types:load` because it is not available. I noticed that this task is for 3.1.0:
![Screen Shot 2022-01-13 at 14 44 41](https://user-images.githubusercontent.com/92752107/149398573-d8546c2a-8699-4ae3-b53a-4ffd2d5ac835.png)

So I tested by commenting out this step in `setup` file, then the `bin/setup

[2022-01-13 21:37] pengyin-shan commented on #109
@lagoan to confirm that we are still using secrets and teach user how to setup, this is what I found under Rails 5.2.6:
![Screen Shot 2022-01-13 at 16 27 54](https://user-images.githubusercontent.com/92752107/149411838-c93f1103-5b2d-4111-aa1a-ecf1417f7e49.png)
![Screen Shot 2022-01-13 at 16 30 48](https://user-images.githubusercontent.com/92752107/149412130-dcf1ce57-6f50-438f-858c-27ec1996f8ed.png

[2022-01-13 21:47] lagoan commented on #109
1. The ruby and rails versions look OK. I don't think we need to change the mysql version in the documentation. If I understand correctly, the problem we had with the action was a dependency problem but the software does not require MySQL 8 to run correctly, I would leave it as it was before.
2. Lets change the mentions of the `development` branch to use the `integration` branch
3. We can use the

[2022-01-13 21:50] lagoan commented on #109
Our version is currently based on their `3.0.4` release, we should not have that step in our instructions.

[2022-01-13 21:52] lagoan commented on #109
You are right, we are currently using secrets and will continue to do so in the near future. Even though secrets is deprecated it still works. As we move to the cloud we will very likely move to use credentials.

That part of the documentation should be modified to reflect our use of the secrets file

[2022-01-13 23:14] pengyin-shan commented on #109
@robynnicholson I'd like to confirm with you our preferred way of providing support & communications to public, as well as social-network accounts, to post on 'Get Involved' section in our wiki.

A list of possible info we can post:
1) Twitter, Facebook or any social-network accounts
2) RSS feed resource or URLs to get update information of DMP Assistant
3) Any contact information besides `support

[2022-01-14 14:43] robynnicholson commented on #109
Hi @pengyin-shan :

1. Unfortunately, the DMP Assistant doesn't have a dedicated social network presence currently, so the support@portagenetwork.ca address is the best and most central contact for providing support.
2. As far as communications, currently any announcements related to the DMP Assistant are published to the general Alliance website (https://alliancecan.ca/), so we can point to that

[2022-01-14 17:30] pengyin-shan commented on #109
Got it, since Github markdown does not support style, I created two images for the dark and light theme, and they are now available for README based on the theme user chooses. Unfortunately, wiki doesn't support this feature, so it will only show the logo for the light theme.

[2022-01-14 17:46] lagoan commented on #109
Sorry for not being clear regarding the logos on the bottom of the page. I think we can leave the one you had uploaded originally and add a white background to the image. This can be a simple change in an image editor. It does not matter if we see the white background on the dark theme.

[2022-01-14 18:34] robynnicholson commented on #105
Hi @pengyin-shan, just circling back to this issue with a request for a slight edit: After talking with Lee we decided to take out the "Portage Network" reference in the text, and I've updated the Google doc accordingly (https://docs.google.com/document/d/1UGiobPFLt2P0WXqIVWYbMS2w2T56UJ1YLM2QNoOGmnk/edit?usp=sharing).

We just want to remove "Portage Network" and "Reseau Portage" from the brackete

[2022-01-14 20:04] pengyin-shan commented on #109
Sounds good, I keep MySQL version as >=5 for now. I updated the contribution guide to use `integration` branch instead of `development`, and I'll update contact info in both README and wiki using the way you and Robyn suggested.

[2022-01-14 20:10] pengyin-shan commented on #105
@robynnicholson no problem, I will make the change accordingly. Just a FYI, do you also want to take out the logo of Portage Network in README and Github wiki for the 3.0 release (I'm currently using both Allicance and Portage Network logo as the footer)?

Also as a note I will publish the change of this ticket to UAT and let you know once I'm done. The production version will not reflect this cha

[2022-01-14 21:35] robynnicholson commented on #105
@pengyin-shan perfect, thank you! Yes I think we can take the Portage logo off the README and GitHub wiki for the 3.0 release There are still a lot of mentions of Portage on the platform itself (including the URL and support email), however long-term all references of Portage will eventually be removed so we might as well start now.

Happy to check it out in UAT once completed, feel free to ping m

[2022-01-14 21:53] lagoan opened #112 "Address issues raised from external security scan"
An external security scan showed an issue that could potentially be used to trick users into modifying their data without their consent.

We need to look into this and check if the data can indeed be modified by hand.

The details were shared offline.

[2022-01-14 22:40] pengyin-shan commented on #109
@lagoan to confirm the docker part...We want a updated version of `docker-compose.yml` (probably similar to the one in UAT) with `image:ualbertalib/dmp_roadmap` right? so that the user could download the yml file and run `docker-compose run --rm web /bin/bash` to start everything

[2022-01-17 17:41] lagoan commented on #109
That sounds like a good plan if we want them to have the full version of the application running. Please try this approach to make sure it works.

We should also point them to our current development method of running `docker-compose` with the file `docker-compose-development.yml` which will only bring up the database and the user will need to run the rails server separately.

[2022-01-17 17:48] pengyin-shan commented on #109
@lagoan thank you for clarifying.  Another thing I want to make sure is the `dotenv` gem we are using. So far I know it is for load the `ENV` file and we are using `ENV` now for variables, such as `database_test_url: <%= ENV['DATABASE_TEST_URL'] %>`.

So is it true that if a user want to set up local environment:
1) `.env` needs to be edited (which is controlled by dotenv gem)
2) see `secret.yml`

[2022-01-17 17:55] lagoan commented on #109
@pengyin-shan You are correct in that. For deployment, we are using the `secrets.yml` file. Our operations team edits that directly with Ansible. So it makes it easier for the two teams to have it this way.

This will change once we start using credentials.

[2022-01-17 23:28] pengyin-shan commented on #109
@lagoan when you have time, could you take a look at https://github.com/portagenetwork/roadmap/wiki/Installation#important-environment-variables and let me know if we have separate value for the keys listed in the table for user to use? Basically all the `default value` fields left in blank requires a API key to fill-in.

Another thing is that do we have any prepared data that we want user to impo

[2022-01-18 16:47] nmacgreg commented on #55
Technical Debt Around Translations

Curently, translations are sync'd every 5 minutes, by this cronjob in Prod, only on dmp-web-prd-3.  It writes onto a shared NFS mount, so it's immediately available on both systems.

    #Ansible: Populate translations, every 5 minutes
    */5 * * * * source /root/.bashrc && cd /var/www/sites/dmp && RAILS_ENV=production && GIT_DISCOVERY_ACROSS_FILESYSTEM=1 bundl

[2022-01-18 21:27] pengyin-shan opened #118 "Wiki content improvement after the 3.0 release (Continously Update)"
@robynnicholson as we discussed in the meeting, I created this ticket to keep you updated about the Github Wiki content we could add to provide more information for users. *The updates list here are not required for the 3.0 release*, thus We could do it gradually.

Our wiki url is : https://github.com/portagenetwork/roadmap/wiki. It provides guidance for any user who wants to involve with the DMP

[2022-01-18 21:44] lagoan commented on #109
I think the environment variables look good. We could add default values on the secret file so that the application can run without these values entered. I will add a ticket for this

As for the initial data from the `seeds.rb` file, we will need to extend the seeds to include more data for users to play with. This will be needed for the sandbox environment.

[2022-01-18 23:18] pengyin-shan commented on #112
Task list based on Kirk's email:

Highest Priority:

- [ ] *the _method function on /plans/<planID> is set to a common verb, PUT, and does not return an error when altered to another, such as DELETE; Is there a way to ensure that this isn't actually deleting plans in the backend?* (In "forced browsing" section of the report) -> make sure the manipulation of the PUT won't affect plan

---

Future N

[2022-01-19 17:56] lagoan opened #121 "Anomalies when using API"
**What version of the DMPRoadmap code are you running? (e.g. v2.2.0)**

2.1.3+portage-1.0.19

**Expected behaviour:**

Plans with visibility set to `organization` should show all the responses for organization administrators.

**Actual behaviour:**

User reports a plan not showing the question response text.

**Steps to reproduce:**

Plan 8202 shows only the cover page. Can check plan 7996 for com

[2022-01-20 23:32] pengyin-shan commented on #112
@lagoan for the first issue (DELETE instead of PUT), we already have a method to make sure that the user is authorized to edit the specific plan in `plan.rb`:
![Screen Shot 2022-01-20 at 18 01 26](https://user-images.githubusercontent.com/92752107/150435757-f017eb07-b85d-47b1-a8bc-626512577a12.png)
So we can conclude that the user who does the DELETE or PUT does have the authentication to do so.

[2022-01-24 21:14] pengyin-shan commented on #83
@nmacgreg sorry to check with you again...Can you let me know the current setting for the environment variable of `SMTP_ADDRESS`, `SMTP_PORT` and `SMTP_DOMAIN` for the production and staging environment?

![Screen Shot 2022-01-24 at 16 11 50](https://user-images.githubusercontent.com/92752107/150865569-1a806c8e-fcef-4b55-92ce-8ad56ee94f91.png)

[2022-01-25 15:59] pengyin-shan commented on #83
@nmacgreg if we are using `http`, could you change it to `https`? Thank you!

[2022-01-25 22:11] pengyin-shan opened #123 "Change the co-owner to owner after old owner remove from the plan"
As a follow up to James' ticket, after an ownership change, switch the first `co-owner` left to be the `owner`

[2022-01-25 23:04] pengyin-shan commented on #94
Close issue. Changes have been merged to the integration branch.

[2022-01-25 23:04] #94 closed

[2022-01-25 23:04] pengyin-shan commented on #93
Close issue. Changes have been merged to the integration branch.

[2022-01-25 23:04] #93 closed

[2022-01-25 23:05] pengyin-shan commented on #99
Close issue. New translations in translation.io have been synced from `dmp-assistant-test` to `dmp-assistant`

[2022-01-25 23:05] #99 closed

[2022-01-25 23:08] pengyin-shan commented on #107
Close issue. This issue is only for uat, and can be solved by adding the `rake stat:build` task to Docker file for the uat server

[2022-01-25 23:08] #107 closed

[2022-01-27 17:40] nmacgreg commented on #83
Sorry, I had to consign mail from github to the big round bitbucket in the sky long ago; I don't get notifications here.
I thought we were done, so I did this to prove it:

[code]
But instead, I can see it's wrong, missing ```https``` in Prod, for Prod.

[2022-01-27 17:59] nmacgreg commented on #83
Resolved in Production via manual updates:

[code]

Please re-test & let me know (via email) if you need more help.

[2022-01-27 20:03] nmacgreg commented on #83
(I suspect we should close this Issue & start another... I think we have multiple problems... solved one, now more?)
Here is the text of the email, when sent to an email address who does not yet have a userid:

[code]
(To be clear, the "click here" is just linked to the same URL.)

So, what happens when I'm logged out of DMPAssistant & click on  [https://assistant.portagenetwork.ca/plans/4130](htt

[2022-01-27 20:24] pengyin-shan commented on #83
Hi @nmacgreg  :The error that Robyn observed only appears to the account that has no record with us (so you cannot reproduce it on your account), but the actual error looks like this:
![image](https://user-images.githubusercontent.com/92752107/151436136-f034a907-125d-42f3-82dc-63af29301e5d.png)
We have confirmed that this error can be fixed by manually changing the `HTTP` to `HTTPS` in the URL. Th

[2022-01-27 20:35] nmacgreg commented on #83
Again, I *just* tested with an email address that does NOT have a matching account in DMPAssistant (Prod).
Did you re-test?
(What was the URL in the email?)

[2022-01-27 20:41] pengyin-shan commented on #83
@nmacgreg try http://assistant.portagenetwork.ca/users/invitation/accept?invitation_token=eh7b-yYgdPuCbx-zH7xd in a private window (or clear all cache of browser first), you should be able to see the error

[2022-01-27 20:51] nmacgreg commented on #83
As requested, passwords removed, this channel is not secure:

[code]
(... I think you're barking up the wrong tree, here -- if these were wrong, the email simply wouldn't go through.)

[2022-01-27 21:06] pengyin-shan commented on #83
@nmacgreg I was worrying that we are using the stmp environment variable instead of default_mailer_host for email url, but if we only use default_mailer_host that's wonderful, we should get the thing fixed now. @robynnicholson do you have any new account that you can send an invitation link to test? sorry my last one was just used.

[2022-01-27 21:06] nmacgreg commented on #83
I clicked on your URL http://assistant.portagenetwork.ca/users/invitation/accept?invitation_token=eh7b-yYgdPuCbx-zH7xd (plain port 80)
My browser took me to: https://assistant.portagenetwork.ca/users/invitation/accept?invitation_token=eh7b-yYgdPuCbx-zH7xd and it rendered fine - it was obviously redirected to https.  (I used FF w/ the "HTTPSEverywhere" plugin installed.)  That was the first time I'

[2022-01-27 21:10] pengyin-shan commented on #83
@nmacgreg  Ah I see...I keep Safari a clean browser to avoid the cache issue, and it might not fit that redirect plug. This is what I see now (same link, redirection not triggered):
![Screen Shot 2022-01-27 at 16 07 52](https://user-images.githubusercontent.com/92752107/151443957-e9be26f3-ef8d-468c-b58e-5a8ae144202a.png)

[2022-01-27 21:39] nmacgreg commented on #83
Spotted: Robyn was right.

When you invite an email address to collaborate, and there is no matching DMPAssistant account matching it, a sort of "shadow" userid is created.  The URL in the email is of the *invitation_token* flavour.

BUT if you send a subsequent invitation, it now contains the *~/plans/4130* format, regardless of whether the user has signed up, or not (presumably because of the "s

[2022-01-27 21:52] pengyin-shan commented on #83
@nmacgreg yeah that's why this problem is kind of hard to navigate. After using all personal accounts (which all have 'shadowed id' now), Unfortunately, I cannot tell if production emails got fixed, because they gonna have the `~/plans/4130 format` for an invitation now.

@robynnicholson could you possibly resend an invitation link to one of our clients who failed the redirection (i.e. they never

[2022-01-27 22:23] nmacgreg commented on #83
@pengyin-shan, do you have admin access to Prod?
Can you delete my 'neilmacgregor7@gmail.com'  and/or '349reeves.way@gmail.com' accounts?

[2022-01-27 22:27] pengyin-shan commented on #83
Sorry @nmacgreg  I don't think I have admin to Prod or Staging...

[2022-01-27 22:32] lagoan commented on #83
Hello all,

Thanks so much for going into this deep hole that has turned out so
difficult to debug!

@Pengyin Shan ***@***.***> , I believe I shared the super
administrator account with you, it is the account for the email
***@***.*** Let me know if you don't have access to it and I will
share the information.

Cheers,

Omar

+

On Thu, Jan 27, 2022 at 3:28 PM Wendy Shan ***@***.***> wrote:

[2022-01-27 22:38] pengyin-shan commented on #83
Oh sorry I thought Neil meant logging into the production server right? Because we don't have a way to delete user as an admin, we can just archive it. Thus we need to change the production database to remove a user. Or I'm wrong?

[2022-01-27 22:43] lagoan commented on #83
I believe archiving a user removes the reference to the email, and just keeps the skeleton of the data.

If we need to use temporary emails we could potentially use something like https://temp-mail.org/en/ for testing.

[2022-01-27 22:52] nmacgreg commented on #83
That's a neat site. It worked perfectly for testing, thank you @lagoan.
@pengyin-shan, here's the email sent in response to the invitation I sent:
[code]
In short, both URLs to the "invitation_token" URL now use https://.
I think we're done;  please test it yourself.

[2022-01-27 22:53] pengyin-shan commented on #83
Sorry pls correct me if I'm wrong...so I just tried to stop the share with my personal account, and `deactivated` this account, so now the account is like this:
![Screen Shot 2022-01-27 at 17 48 53](https://user-images.githubusercontent.com/92752107/151456174-71a36d53-3f39-413c-8003-44f5fa93dccd.png)
Then I tested to send a new link to this 'deactivated' account, but the email link I got for the i

[2022-01-27 23:05] pengyin-shan commented on #83
@nmacgreg thank you for the test! I just tried the site Omar give (a very convenient site!) and the HTTPS appears in the link. so yeah we should be good to go. Thank you @nmacgreg @lagoan for your help! @robynnicholson if you find any new issue, please let me know and I'll create a new ticket for it.

Sorry just one more thing @nmacgreg, may I know your test account from https://temp-mail.org/en/

[2022-01-27 23:08] nmacgreg commented on #83
@pengyin-shan  The temporary email I tested with was: hexiw97343@get2israel.com

[2022-01-27 23:10] pengyin-shan commented on #83
Got it, thank you!

[2022-01-28 21:16] robynnicholson commented on #83
@pengyin-shan I've resent adjusted invitation links (taking the link from the initial system-generated email they received and adjusting the 'http' to 'https') to two recent clients this week: one responded to say it worked (the ticket I forwarded to you), and the other hasn't responded yet. I'll keep you posted on any further responses and new tickets/issues on this item, but it looks and sounds

[2022-01-28 21:40] pengyin-shan commented on #83
Thank you @robynnicholson , I'm closing this issue now. Basically, for any user that got this problem before Jan 28, you can either let them change to https, or just re-send a new collaboration email. We should not see this issue any more after Jan 28. If you get any further reports, let me know and I'll look into it.

[2022-01-28 21:40] #83 closed

[2022-02-09 21:03] robynnicholson commented on #105
Hi @pengyin-shan, just following up on this ticket with some expanded requests:
- Update text according to suggested edits in Google doc (under 'Updated Content'): https://docs.google.com/document/d/1UGiobPFLt2P0WXqIVWYbMS2w2T56UJ1YLM2QNoOGmnk/edit?usp=sharing (I believe you already made these changes, but just including for the sake of completeness)
- Change NDRIO logo in bottom ribbon to Allianc

[2022-02-10 20:18] pengyin-shan commented on #105
Closing this ticket. The branch has been merged to integration and sent to Neil for the 3.0 relase

[2022-02-10 20:18] #105 closed

[2022-02-10 20:21] pengyin-shan commented on #112
close this issue for now. Will reopen if Kirk has other requests

[2022-02-10 20:21] #112 closed

[2022-02-11 23:29] #109 closed

[2022-02-15 16:45] pengyin-shan opened #137 "Translation check and add (merge for the next minor release)"
@robynnicholson : Please feel free to add the strings that are not translated in this issue. I'll check them and see if we need any code change to adopt the translation. If not, I'll just tag you in translation.io to upload translation then we are good to go. If so, I'll document it here and change the code. The code will be pushed to the next minor release together.

The following strings are con

[2022-02-15 19:56] pengyin-shan commented on #137
@robynnicholson :

"Click below to give data management staff at.." and "API Access" is uploaded to dmp-assistant-test.

[2022-02-15 20:48] robynnicholson commented on #137
Hi @pengyin-shan, thanks for opening this ticket. I've continued to track untranslated items in this Google doc: https://docs.google.com/document/d/1TLyFm_KA0QBBnLDcxcP21Q9Vg0JChlz-bvKQ0AU_JdA/edit?usp=sharing.

I've updated the "Click below ..." and "API Access" translations in dmp-assistant-test.

I'll also flag the following untranslated strings:
- From "Create a new Guidance Group" page of adm

[2022-02-16 22:46] pengyin-shan commented on #137
I uploaded translations to dmp-assistant-test and tagged them. I also did changes on the code side for these translations, so we will put them in prod in the next minor release.

[2022-02-24 22:04] lagoan opened #141 "Add rack_attack gem to stop attackers in their tracks"
We should look into adding the [rack-attack gem](https://github.com/rack/rack-attack) to stop malicious activity probing for attacks.

Use DMPTool's initializer configuration as a starting point for our implementation.

[https://github.com/CDLUC3/dmptool/blob/v3.4.0-beta/config/initializers/rack_attack.rb](https://github.com/CDLUC3/dmptool/blob/v3.4.0-beta/config/initializers/rack_attack.rb)

[2022-03-01 23:15] pengyin-shan opened #149 "Seed File Modification"
This issue documents the content and usage of the seed file for sandbox testing.

Temp doc for seed:
https://docs.google.com/document/d/17BoJJ97y7xukVYmxyEzWS3Vbwk8vEhM7lOcQi3Z1tHs/edit

- [ ] Dragonfly modification to add org logos

[2022-03-01 23:16] pengyin-shan commented on #137
Changes will be in 3.0.4 minor release

[2022-03-01 23:16] #137 closed

[2022-03-01 23:19] pengyin-shan opened #150 "Remove the default 'Le' in the copyright footer"
Seems not to be a translation issue since the translation.io has the correct version. Notice similar behavior from the previous production version

[2022-03-03 21:03] robynnicholson opened #152 "New Terms of Use Page & Migration of Documentation from Portage website"
The Alliance Communications team is migrating content from Portage website (portagenetwork.ca) to new Alliance website (alliancecan.ca) and has requested that DMP Assistant documentation currently residing on Portage website be moved to DMP Assistant platform: [Terms of Use](https://portagenetwork.ca/tools-and-resources/dmp-assistant/dmp-assistant-terms-of-use/), [Institutional Customization Guide

[2022-03-04 16:04] pengyin-shan opened #153 "RSpec test for download plan needed"
JSON on the production server also reports a different bug. Might not be the same issue

- [x] Function Download

- [x] JSON only issue

- [ ] RSpec test

[2022-03-04 16:05] pengyin-shan opened #154 "Language must exist warning when saving user privilege"
Not on UAT

[2022-03-04 20:35] pengyin-shan opened #156 "Upgrade to ruby 2.7"
Ruby 2.6 will be EOL on March 31st

[2022-03-07 19:18] robynnicholson opened #158 "Plan "ID" Number Field: Saved changes not displaying on PDF, HTML & Word Exports"
In PDF, HTML and Word exports of plans, the coversheet displays the “ID” field, which I believe is automatically generated by the system but can be modified and changes saved by the user from the "Project Details" tab. Currently, despite having changed and saved that ID number, the original automatically generated number is the one displaying on exports. If users can modify and save that field, an

[2022-03-07 22:06] lagoan opened #159 "Add feature flag for sandbox environment"
Add feature flags beyond configuration values in order to control available behaviour in the sandbox environment. Initially, we will only need this to:

+ Show a different logo for the tool showing that it is just a sandbox
+ Disable the password reset functionality for seeded accounts

At this point, we can do something very simple as outlined [here](https://boringrails.com/articles/feature-flags

[2022-03-15 20:22] robynnicholson opened #160 "Sandbox Test Organization/User Information"
The following Test Organization/User information can be used for the sandbox instance:

2 Test Organizations (English and French):
1. Test Organization
![TestOrgLogo_EN (1)](https://user-images.githubusercontent.com/46638411/158451158-2ccc2f13-587a-489d-86b8-0ca36d5f890b.jpg)
2. Organisation de test
![TestOrgLogo_FR (1)](https://user-images.githubusercontent.com/46638411/158451214-bcc99c55-2ae5-48

[2022-03-15 20:35] robynnicholson opened #161 "Request for Updated Org Admin User download"
In preparation for circulation of Administrator Guide and beta testing announcement, request for a CSV download of all users with Organizational Admin privileges.

[2022-03-16 19:15] pengyin-shan opened #162 "Sandbox Setup Checklist"
Checkout following issues before deploying to sandbox

- [ ] send Neil necessary logos. Confirm their display in uat
- [ ] send Neil (or do in the Github release) new seeds.rb and /seeds/ folder
- [ ] #149 fully fulfill
- [ ] #159 fully fulfill

[2022-03-16 19:40] robynnicholson opened #163 "Plan Sharing Invitation Links & Account Creation Access: Unexpected Behaviours"
Related to previously closed ticket #83 (Error in email collaboration link; [summary of previous tickets](https://docs.google.com/document/d/1Sl8FSnHU5A7zbf32cFFYr0z0qeD8YPLRDjVegcoAQ1s/edit?usp=sharing)), where configuration of URL was an issue, new issue raised where user is unable to complete account creation or sign in due to error ("You have a pending invitation, accept it to finish creating

[2022-03-18 15:28] robynnicholson commented on #149
Hi @pengyin-shan, I've worked through the English sandbox environment on UAT and have the following comments/questions/requests:

1. On the landing page, will the Alliance logo appear on the footer when published?
2. For the Test Organization and Organisation de test, I think instead of any default (e.g., UBC/UoA logos), we could leave them without default logos, and then as part of the beta testi

[2022-03-18 16:08] robynnicholson commented on #149
From the run-through of the French sandbox on UAT:

1. When enabling Request feedback function (Demander des commentaires) via Organizational details (Renseignements sur l'organisme), the default message is still in English, but this is an existing issue with prod too and not critical for the sandbox testing necessarily.
2. Same issue with adding/editing question with Date format as English and in

[2022-03-21 18:36] lagoan opened #164 "Usage statistic visualization is not working"
With the upgrade to 3.0.4 the usage statistics visualization does not work correctly.

The information disappears after the taks `rake stat:builld` is run.

[2022-03-21 19:06] pengyin-shan commented on #149
_Yes, the alliance logo will show on footer after published. I'll ask Neil to add the image file to the sandbox server_

_So currently, I set the logo image for both test organizations and Alliance (logo will appear once on production). I can remove the logos & contact info, and change abbreviations for all other organizations. Is this what you prefer?_

_Debugging it now_

_I found it work on bot

[2022-03-21 19:36] pengyin-shan commented on #149
_I think I can make it work...Can you provide the example plan that I can use to test?_

_Yes, it is a functional issue, I'm looking at it. Once it fixed both English and French version will work_

_I can make it work. So you want all portage templates open to all organizations right?_

_Fixed. Will be pushed to uat_

_I tested by using a saved plan (https://uat.library.ualberta.ca:3000/plans/71)

[2022-03-21 20:39] lagoan commented on #164
Fixed by #165

[2022-03-21 20:39] #164 closed, assigned to lagoan

[2022-03-22 18:50] robynnicholson commented on #149
I would remove the logos and contact info for the test organizations, but leave them for the Alliance. Administrators will be editing Organizational details for the test organizations but not for the Alliance necessarily. Abbreviations can probably remain as-is, testers can go in and change those if they wish.

So this issue is while editing a Template Phase, not an individual plan. I'll try givin

[2022-03-22 20:04] robynnicholson commented on #149
This is more to do with an administrative feature and not necessarily with individual plans. Basically, when signed into the Admin account  (Utilisateur test) for the French test organization using the French interface, when you go to the "Organizational details"  (Renseignements sur l'organisme) under the "Request feedback" (Demander des commentaires) tab, before you enable the feature, there is

[2022-03-23 16:38] pengyin-shan opened #166 "Collapse/Expand Not Work in Creating Template Page"
data-parent is not matching the panel id, but id is currently necessary for saving the template. Asked Brian in Slack about the comment 4 years ago.
![Screen Shot 2022-03-23 at 11 48 55](https://user-images.githubusercontent.com/92752107/159750134-99d48ba5-c7ed-4607-9d26-6501bc609168.png)
![Screen Shot 2022-03-23 at 11 31 59](https://user-images.githubusercontent.com/92752107/159750138-b5b7a2f3-84

[2022-03-23 18:13] pengyin-shan opened #167 "Date Format Question Forcing Adding Option with Accompanying Text"
When adding/editing questions, I am unable to add a "Date" format question, receiving the following Error message: "Unable to create the question. You must have at least one option with accompanying text." - this also appears to be an issue in prod.

@robynnicholson just want to confirm what this issue is expected to be, should be date format question go without option naturally, or it should have

[2022-03-23 18:59] robynnicholson commented on #167
So, as an Admin, when I'm creating/editing a template and creating/editing a question, when I select "Date" for Anwer format, leave "Display additional comment area" checked by default, and enter both Example answer and Guidance text (see screenshot below), when I try to save the question, I receive an "Error: Unable to create the question. You must have at least one option with accompanying text.

[2022-03-24 20:57] pengyin-shan commented on #149
Update on issue list for current UAT:

For the English section issues:
1) Resolved
2) Resolved (Note: we might need to manually upload Portage image from UI after switching to sandbox environment). See UAT
3) Bug confirmed. I will deal with it in #167
4) It is a common bug that stays for a while. Need to discuss this with the Roadmap team. I make it as an external issue #166
5) Will back to this i

[2022-03-25 18:38] robynnicholson commented on #149
Hi @pengyin-shan, thanks so much for this succinct status summary, and for your work on all of these items! I have some final observations:

- Quick question: When editing Organizational Details, is the Administrator Contact automatically generated/autofilled?
- Usage Statistics seed data does not seem to be appearing - seeing "no data"
- For the French interface, item 1, the default suggested Req

[2022-03-28 15:02] pengyin-shan commented on #149
@robynnicholson here are my answers:

**No they are not auto-filled. I add contact detail only for the three test orgs (the ones with test accounts). I remove the rest of org's contact info. We can do the same for the three test orgs, or use any pre-set contact info.**

**Ah sorry the statistics data needs to be manually triggered with a command. You should see it now.**

**I found the default fee

[2022-03-28 16:51] lagoan commented on #18
@pengyin-shan is this still an issue ?

[2022-03-28 16:52] lagoan commented on #156
This will be done with the rest of the development teams as we will split up the work.

Should not be as hard as upgrading Rails.

[2022-03-28 17:11] #40 closed

[2022-03-28 17:12] lagoan commented on #37
@pengyin-shan is this still and issue?

[2022-03-28 17:12] #45 closed

[2022-03-28 17:13] lagoan commented on #46
@pengyin-shan is this still an issue?

[2022-03-28 17:13] lagoan commented on #54
@pengyin-shan is this still an issue ?

[2022-03-28 17:14] #60 closed

[2022-03-28 17:16] lagoan commented on #57
@pengyin-shan is this still an issue ?

[2022-03-28 17:17] #160 closed, assigned to robynnicholson, pengyin-shan

[2022-03-28 17:17] #161 closed, assigned to lagoan, robynnicholson, pengyin-shan

[2022-03-29 21:22] pengyin-shan commented on #167
The issue actually comes from the data side, not the coding side. In the database, the `option_based` is set to TRUE for the date question type, which itself is not. I changed the seed file for the sandbox testing, so in the sandbox, this issue will disappear (you will see soon in uat).

For production, @robynnicholson I can let Neil know about this issue and adjust the database accordingly (eithe

[2022-03-31 21:16] pengyin-shan commented on #57
The issue is still there. Pending to be fixed

[2022-03-31 21:24] pengyin-shan commented on #57
![Screen Shot 2022-03-31 at 17 23 35](https://user-images.githubusercontent.com/92752107/161151709-b6e1baa4-c307-42dc-8f15-fcbb2f04b4fd.png)
Noticed same error message as the JSON download issue

[2022-03-31 21:30] pengyin-shan commented on #18
Not seeing the error after the 3.0 release. Close this issue for now.

[2022-03-31 21:30] #18 closed

[2022-03-31 21:33] pengyin-shan commented on #37
Not see the same error after the 3.0 release. close this issue for now

[2022-03-31 21:33] #37 closed

[2022-03-31 21:36] pengyin-shan commented on #46
Yes, this is still an issue. I will work on it.

[2022-03-31 21:47] pengyin-shan commented on #54
Not see this error after the 3.0 release. close it for now.

[2022-03-31 21:47] #54 closed

[2022-04-01 15:04] robynnicholson opened #172 "Organization type(s) Floatover Text Update: Incorrect Contact & Translation"
On the "Organization details" page, the tooltip floatover text requires updating to reflect the correct contact information: support@portagenetwork.ca, not "info@alliancecan.ca".
![Screenshot 2022-04-01 115604](https://user-images.githubusercontent.com/46638411/161289404-c3b3a279-088a-455b-97d8-584e57e19659.png)

Additionally, the text is not translated on the French interface.
![Screenshot 2022-0

[2022-04-01 21:26] pengyin-shan commented on #159
Pending task now:

- [ ] Use refactor instead of the if statement in feature_flag_helper
- [ ] Add RSpec test

[2022-04-04 16:51] pengyin-shan commented on #167
resolved on both uat and prod

[2022-04-04 16:51] #167 closed, assigned to pengyin-shan

[2022-04-07 15:42] pengyin-shan opened #177 "Error: undefined method `map' for nil:NilClass when user click the sharing link"
after sign out from current user, then click the collaboration link, will see the error message

[2022-04-07 16:14] pengyin-shan commented on #166
@robynnicholson I just deployed to uat. Please test and let me know if it works for you.

Since I adjusted code that affects all collapse/expand feature, If you could, please test as many collapse/expand functions in the dmp assistant as you can find (i tested many but I want to make sure I didn't miss anything).

[2022-04-08 16:18] robynnicholson commented on #166
@pengyin-shan tested all the collapse/expand functions I know of in the user interface in uat, all looks good to me!

[2022-04-08 17:04] pengyin-shan commented on #166
Thank you for testing! this fix will be added to the next release (3.0.4+portage-3.0.9)

[2022-04-08 17:40] pengyin-shan commented on #177
Fixed and deployed to production in v3.0.8. Close this ticket for now.

[2022-04-08 17:40] #177 closed, assigned to pengyin-shan

[2022-04-12 20:12] pengyin-shan commented on #153
JSON download works after a test `Rails.application.routes.default_url_options[:host]` added to environment file. Updated on v3.0.10

[2022-04-13 21:24] #166 closed, assigned to pengyin-shan

[2022-04-14 16:02] pengyin-shan opened #186 "v3.0.5 upgrade"
Upgrade DMP Assistant to DMP Roadmap v3.0.5

[2022-04-14 16:06] #162 closed, assigned to pengyin-shan

[2022-04-14 16:07] #158 closed, assigned to robynnicholson, pengyin-shan

[2022-04-19 13:53] low-decarie commented on #154
I get the same warning "Language must exist" when trying to reset password.

[2022-04-19 15:09] pengyin-shan commented on #154
@low-decarie , this issue is because the default language is not set for user. (i.e. the users who don't have 'language_id' in the database). The solution is: Let the users re-edit themselves by just selecting the language and clicking 'save' (both methods following will work):
![Screen Shot 2022-03-08 at 12 33 40](https://user-images.githubusercontent.com/92752107/164035527-f8d16fb4-40cf-451d-a2c

[2022-04-20 16:04] pengyin-shan commented on #152
@robynnicholson , just to confirm this is the re-branding task that we mentioned in the roadmap right? Any other detail that you would like to add? I see Terms of Use and Customization Guide is ready. How about FAQ?

[2022-04-20 16:08] robynnicholson commented on #152
Hi @pengyin-shan, this is part of the rebranding task that is mentioned in the roadmap, but there are other items from the administrative side that will be required too, such as the new URL and support email address from Alliance Comms, the addition of the new logo/colour scheme from the branding firm, as well as the removal of "Portage" from the system template titles which will require communica

[2022-04-20 16:14] pengyin-shan commented on #152
@robynnicholson thank you! for the requirements you mentioned above, where can I find it? I didn't see an item called 'rebranding' in the change request registry, so is it separated into multiple tickets?

[2022-04-20 16:19] robynnicholson commented on #152
@pengyin-shan Separated into multiple items, though the new logo/colour scheme is not yet represented as it was not so much a user request as much as an internal Alliance activity - I can add them though!

[2022-04-20 16:25] pengyin-shan commented on #152
@robynnicholson Got it. thanks! I'll try to find them. And yeah if you could add the new logo/color information that would be great.

[2022-04-22 14:47] pengyin-shan opened #187 "DMPRoadmap 3.1.0 migration issue fix on dev"
I created a test form to record all ongoing issues and test result in DMPRoadmap 3.1.0 (master branch) migration issue on the dev side:
https://docs.google.com/spreadsheets/d/1PHSVskjN9exQuPaUSlKn8HfOg920FC5PmH2_e_eirdU/edit?usp=sharing

I'm resolving the issue while continuing to test. Once all tests on the local dev passing, I'll move the local version to uat server.

[2022-04-22 14:48] pengyin-shan commented on #186
Opened #187 with the Google sheet to record the process. Close this issue for now

[2022-04-22 14:48] #186 closed, assigned to pengyin-shan

[2022-04-22 14:50] pengyin-shan commented on #149
sandbox deployment is done. Close this issue for now

[2022-04-22 14:50] #149 closed

[2022-04-22 14:51] #62 closed

[2022-04-22 14:52] pengyin-shan commented on #172
In production & sandbox now. Close this issue

[2022-04-22 14:52] #172 closed, assigned to pengyin-shan

[2022-04-22 15:24] pengyin-shan commented on #152
I created the test Github page for reference: https://portagenetwork.github.io. Currently still in the very basic mode (basic website template applied). We can add any page or content as we want

[2022-04-26 16:07] pengyin-shan opened #188 "Sandbox Testing User Requests"
- [ ] French translation of the Request Feedback email: waiting for translation. Will be pushed to production for the next release: translation ready in test

[2022-05-03 19:01] pengyin-shan opened #191 "Remove un-managed organizations from Primary Research Institution List (request by University of Guelph)"
Freshdesk tickets:  https://portagenetwork.freshdesk.com/helpdesk/tickets/2684

Remove the unmanaged organizations that users created as 'funders' from the Primary Research Institution List when creating a new plan

[2022-05-03 19:04] pengyin-shan opened #192 "Update term of privacy on DMP Assistant site"
Contact Weiwei for the updated term of privacy, then update the DMP Assistant site privacy page by May 13. Could move to new rebranding site in the future.

[2022-05-03 20:47] pengyin-shan opened #193 "Add Rubocop test back to Github tests"
After the release of the 3.1.0 upgrade, add Rubocop & Github test back.

[2022-05-04 19:14] pengyin-shan opened #195 "UI issue for 'add condition' of OPTION BASED question types [on both currently version and migrated version, not in DMPRoadmap]"
In the current production version and 3.1.0 local version, not in the main codebase:

![Screen Shot 2022-05-04 at 13 40 57](https://user-images.githubusercontent.com/92752107/166809045-dbbf1f38-d363-49b8-b110-48d3f4059ad0.png)

[2022-05-05 20:40] pengyin-shan opened #196 "NEED VALIDATION: emails's language is based on user's choice on UI, instead of system default language and user's primary language"
Need to confirm this logic. The user mailer seems to send emails based on the system's default language. Will validate on the current version and 3.1.0 migrated version.

[2022-05-05 20:53] pengyin-shan commented on #196
might be caused by the sanitization method. pending validation

[2022-05-09 17:25] pengyin-shan opened #197 "Accessibility Check after Rebranding"
After the color/font change is done, use an accessibility website to check the readability of the new style.

[2022-05-17 19:23] pengyin-shan opened #202 "Add contributor to the DMP downloaded files (highlight Principal Investigator if any)"
Update user after pushing to production: https://portagenetwork.freshdesk.com/a/tickets/2718

[2022-05-17 20:40] pengyin-shan opened #203 "Keep a note of change files when upgrade from 3.1.0 to 3.1.1"
After the 3.1.0 upgrade, we need to do the 3.1.1 upgrade. During this process, write down the files that are modified. We will discuss the merging/upgrading process based on the result.

[2022-05-17 20:46] pengyin-shan opened #204 "Notification won't show after edit it (3.0.4 + 3.1.0)"
In both the production version 3.0.4 and 3.1.0

Steps to recreate:

1. create a dismissable notification, save then dismiss it
2. change something of this notification (e.x. change level or dismissable), then save. The notification will not show anymore.

[2022-05-27 20:05] pengyin-shan commented on #202
merged into integration branch

[2022-05-27 20:05] #202 closed, assigned to pengyin-shan

[2022-05-27 21:51] pengyin-shan commented on #195
merged to integration branch

[2022-05-27 21:51] #195 closed, assigned to pengyin-shan

[2022-05-31 22:15] nmacgreg opened #208 "Exploratory software update: NodeJS"
I'm excited to report that NodeJS v16.x has recently (Jan '22) been added to the EPEL repository, where it's been getting regular (monthly) updates.   DMP in Staging & Production is currently running v12.22.12 of NodeJS, but v12.x recently fell off the "Maintenance" track (ref:[NodeJS Releases](https://nodejs.org/en/about/releases/)).

At your leisure, I'd like to consider updating to this v16.

[2022-06-01 17:55] pengyin-shan commented on #208
@nmacgreg , our development version of node is version 12 (My local machine is using 12.22.7).

About the upgrade: I haven't tested what's going to change if we upgrade to node 16 now. I doubt DMP Assistant might going to see issues referring to my last upgrade experience of node from v10 fo v12, but I'll add this into our consideration of the next version upgrade.

[2022-06-07 20:07] pengyin-shan opened #212 "Jumping from user statistics to plan, then see no plan exist"
Ticket: https://portagenetwork.freshdesk.com/a/tickets/2738

[2022-06-08 14:52] pengyin-shan commented on #212
issue resolved in freshdesk

[2022-06-08 14:52] #212 closed, assigned to pengyin-shan

[2022-06-27 17:14] nmacgreg opened #213 "In Dockerfile, multiple 'apt-get update' commands"
**What version of the DMPRoadmap code are you running? (e.g. v2.2.0)**
v3.0.12

**Expected behaviour:**
In the Dockerfile, there are 2 statements which run , ```apt-get update```.  Once should be enough!

**Actual behaviour:**
Line 4: ```4 RUN apt-get update -qq && \```
Line 30: ```30 RUN apt-get update && apt-get install -y yarn```

**Steps to reproduce:**
Use eyeballs!

[2022-08-23 17:09] pengyin-shan opened #221 "Allow user to create plan after 'No research organization associated with this plan or my research organization is not listed'"
As discussed in slack, will assign 'Other Organisation' directly to this plan, or use user's org_id as what DMPRoadmap is doing

[2022-08-26 17:08] #191 closed, assigned to pengyin-shan

[2022-09-21 20:14] pengyin-shan opened #236 "random tile"
**where need to translation**

[2022-09-21 20:23] pengyin-shan commented on #236
@lagoan can you talike a look? @pengyin-shan

[2022-09-21 20:24] #236 closed, assigned to pengyin-shan

[2022-09-21 20:27] pengyin-shan commented on #221
#78

[2022-10-26 18:44] shilowil opened #239 "Limited support for special characters in DMPs"
Currently, users cannot create DMPs using characters from the Nsyilxcn and Coast Salish languages (available [here](https://fnel.arts.ubc.ca/resources/font/)).

[2022-10-27 20:49] pengyin-shan commented on #239
### First Nations Unicode based on UBC's instruction

I created https://uat.library.ualberta.ca:3000/plans/9355 for `First Nations Unicode Font` only. The font typed into DMP Assistant is based on Mac FNuni_V2.3 Keyboard.

-----

See the 'write plan' section for all test inputs in rick text box. See the 'contributor' section for inputs in regular text box.

-----

Observations based on the current

[2022-10-27 20:52] pengyin-shan commented on #239
I'm going to do the same test for Omar's plan now (plan 9353 with all characters and other special characters) and update the result here.

Meanwhile, @isawil please test plan 9355 using a windows input (_since I don't have windows machine_) and let me know if you see a difference result.

[2022-11-04 15:07] pengyin-shan opened #240 "Tried to Load Specific Class: Symbol error message when moving to Download tab"
Freshdesk ticket 2685.
When a user tries to download a plan (just to move to the 'Download' tab), the user will see an error message and be redirected to the main dashboard:
![image](https://user-images.githubusercontent.com/92752107/200008372-199246e7-7870-40fe-b534-37a092dcb8cc.png)

[2022-11-04 15:16] pengyin-shan opened #241 "Change plan saving message in 'Write Plan' section to a more clarified version"
This ticket is created as an improvement for a user's plan saving problem (submitted via web form). User so far only see 'Saving...' and 'Answered by...' messages after saving the plan successfully:

![Screenshot 2022-11-04 at 11 12 02 AM](https://user-images.githubusercontent.com/92752107/200009589-ba30fd96-bb74-450d-a310-751e5699033d.png)

It could be very misleading because the user was stuck o

[2022-11-04 15:29] pgwillia commented on #240
https://github.com/ualbertalib/NEOSDiscovery/pull/613

[code]

[2022-11-08 21:30] #240 closed, assigned to pengyin-shan

[2022-11-08 21:50] pengyin-shan commented on #241
(PR has been submitted to the main codebase: https://github.com/DMPRoadmap/roadmap/pull/3232)
Updated both `Saving...` message and error-saving message to explicitly tell the user to save the plan to a separate file before refreshing the page.

Users will only see these messages *either they are stuck with the Saving... message (which means an error is happening) or an error occurred directly*, so

[2022-11-15 16:28] pengyin-shan commented on #156
Upgraded to Ruby 2.7.6 in 3.0.4-3.0.15 release. Close this issue

[2022-11-15 16:28] #156 closed, assigned to pengyin-shan

[2022-11-15 16:53] pengyin-shan commented on #150
Found the wrong translation when doing 3.1.0 migration... for `&copy; 2004 - %{year} %{org_name} `, the translation.io added an extra `Le` in its automated translation.

Adjusted in both dmp-assistant-test and dmp-assistant:
https://translation.io/ualbertalib/dmp-assistant-test/fr-CA?segment=aba57efb&query=%26copy%3B
https://translation.io/ualbertalib/dmp-assistant/fr-CA?segment=161fe6ed&query=%26

[2022-11-15 16:55] pengyin-shan commented on #150
@isawil can you pls confirm with the translator is 'Le' be correct or wrong? This is an old issue raised when Robyn was here, so I want to make sure it will be corrected in the next release:
<img width="486" alt="Screenshot 2022-11-15 at 11 54 40 AM" src="https://user-images.githubusercontent.com/92752107/201979444-409be37e-00b0-4a91-9b2b-9ece336e803c.png">

[2022-11-15 20:10] shilowil commented on #150
I've forwarded this to our translator and will let you know when I hear back.

[2022-11-15 21:17] pengyin-shan commented on #150
'Le' has been removed from tranlsation.io based on the translator's recommendation. Production will automatically pick the change. UAT fixed. Close this ticket.

[2022-11-15 21:17] #150 closed

[2022-11-15 22:31] pengyin-shan commented on #57
Close this issue since the organizational dropdown is working when creating or updating the user's organization. JSON download also works.

[2022-11-15 22:31] #57 closed

[2022-11-16 19:23] shilowil commented on #239
When you have time, could you repeat the tests you performed before? I'm interested in seeing whether the recent fix will change the outcome.

[2022-11-16 19:51] pengyin-shan commented on #239
Did they release a new version of the keyboard? I currently have Mac FNuni_V2.3

[2022-11-16 21:36] pengyin-shan opened #260 "Unmanaged organization should not appear in any 'select organization' list"
Will remove unmanaged organizations from the organization type-in list when the user creates a new account:

<img width="500" alt="Screenshot 2022-11-16 at 4 31 26 PM" src="https://user-images.githubusercontent.com/92752107/202298719-6888050e-bbaa-4708-9b4c-173c98895535.png">

Meanwhile, @isawil can you pls take a look at the whole application (you can do this on uat: https://uat.library.ualberta.

[2022-11-21 17:07] pengyin-shan opened #262 "Confirm the current timezone and idea of using server timezone (MST) for DMP Assistant"
Before merging the PR (https://github.com/DMPRoadmap/roadmap/pull/3239) to the main codebase, we need to confirm our current timezone and user-preferred time zone.

Hi @isawil , can you check what timezone DMP Assisant is currently using for actions (such as creating plan, update planing...)? I think it is UTC but I'd like your help confirming it.

If it is UTC, we are thinking to change it to the

[2022-11-21 20:37] pengyin-shan opened #264 "Rubocop change documentation"
Part of 3.1.0 migration is to enable rubocop Github test again. For the current rubocop workflow, rubocop is using the version in Gemfile.lock, while in the main codebase, rubocop uses the default version with ruby 2.7.6.

I noticed that since DMP Assisant 3.0.4-15 has upgraded to ruby 2.7.6 because a bug fix only applied to ruby>=2.7, thus DMP Assisant 3.1.0 will use ruby 2.7.6 with Rails 5.2.8.1

[2022-11-22 16:47] pengyin-shan commented on #264
3.1.0 initial version: using rubop 1.39.0 with Rails 5 and ruby 2.7.6. updated `rubocop.yml` to be same as the main codebase.

- A initial run of Rubocop got 573 files inspected, 251 offenses detected, 102 offenses autocorrectable
- `rubocop -A` got:
[code]
- A re-run of Rubocop got **573 files inspected, 79 offenses detected**
- While same rubocop running in development branch of main code base i

[2022-11-22 18:27] pengyin-shan commented on #264
Compared to the main codebase, the rubocop auto-fix seems didn't cause any difference (checked `plan_controller.rb` as example). Will continue to watch it

[2022-11-22 19:31] pengyin-shan opened #265 "found github action ruby 'version not valid' issue in the development process"
Refer to https://github.com/ruby/setup-ruby.

Noticed the following complaint suddenly appears for GitHub actions that need the ruby version defined:

<img width="776" alt="Screenshot 2022-11-22 at 2 31 49 PM" src="https://user-images.githubusercontent.com/92752107/203404748-76ea86d5-2297-4dcf-a747-97f6b28a503a.png">

After the test, seems a single quote is necessary now for version validation (i.

[2022-11-22 21:08] pengyin-shan commented on #265
As a note, the problem show be fixed in commit https://github.com/portagenetwork/roadmap/commit/3466fda7a836e68bc8423ed58a0e14b6047a28f3.

Closet this ticket since it is part of 3.1.0_rubocop_only branch. The PR for #264 will include this fix

[2022-11-22 21:08] #265 closed, assigned to pengyin-shan

[2022-11-22 21:32] pengyin-shan opened #266 "the latest version of `wkhtmltopdf-binary`(0.12.6.5,the latest version from https://rubygems.org/gems/wkhtmltopdf-binary) hasn't added support to Ubuntu 22.04, thus need to hard-set Github actions ubuntu versions to 20.0.4 for supporting issue"
For all github actions:
<img width="993" alt="Screenshot 2022-11-22 at 4 33 21 PM" src="https://user-images.githubusercontent.com/92752107/203425554-7a2842fa-4767-49c9-a53f-3679865dc8a2.png">

[2022-11-22 21:38] pengyin-shan commented on #266
As a note, this version is working well on Mac M2 chip

[2022-11-23 17:02] pengyin-shan commented on #266
fixed this issue in commit [0fcf5e0](https://github.com/portagenetwork/roadmap/commit/0fcf5e0a38cdf17c2e0039d6ae16e4bf15c71e9e)

[2022-11-23 17:02] #266 closed, assigned to pengyin-shan

[2022-11-23 18:55] shilowil commented on #239
I don't believe so -- I'm more interested in whether we will be able to export PDFs with FNUF characters in them now that we have fixed the previous special characters issue.

[2022-11-24 15:36] shilowil opened #267 "Error when adding new organization"
I tried to add a new organization, but when I submitted the institution information, I got the error, "Nil location provided. Can't build URI."

![image](https://user-images.githubusercontent.com/30664432/203821639-90088687-3259-4f62-b1d3-6e5d3d989ae0.png)

[2022-11-24 16:16] pengyin-shan commented on #267
I tested in both uat and production and I cannot duplicate the case. @isawil what's the institution information you are trying to input?

[2022-11-24 16:18] shilowil commented on #267
The institution name is Cégep de la Gaspésie et des Îles -- not sure if it's caused by special characters. I'll try again.

[2022-11-24 16:19] shilowil commented on #267
Tried again and got the same error.

[2022-11-24 16:25] pengyin-shan commented on #267
@isawil I just created one in the production server. Is this what you need? If so you can just update logo and contact info.

[2022-11-24 16:34] shilowil commented on #267
Thank you! I'm getting a logo resize error, but will resize the logo. Otherwise everything seems to be working normally. Thanks again!

[2022-11-24 16:34] #267 closed, assigned to lagoan, pengyin-shan

[2022-11-24 18:51] pengyin-shan commented on #239
No, the last release didn't impact the download result. So for those characters which won't display well, their condition stays the same.

[2022-11-24 20:12] shilowil commented on #239
Thanks for checking! I'd like us to fix this when we can -- are we waiting on an updated keyboard?

[2022-11-25 21:02] pengyin-shan opened #268 "Clarification of String and Array behavior for plan exports"
Found this in the middle of rubocop fix:
Running `rspec ./spec/features/plans/exports_spec.rb` after fixing the `export_plan.rb` are seeing following issue:
<img width="876" alt="Screenshot 2022-11-25 at 4 00 02 PM" src="https://user-images.githubusercontent.com/92752107/204054847-9e7cc2f4-4bce-4895-a24d-2f48fce05e03.png">

**May need to discuss this with the main code team**, since it seems that

[2022-11-25 21:33] pengyin-shan commented on #268
Fixed by change the line 4 of `_plan_text.erb` to `<%= Array(@hash[:attribution]).many? ? _("Creators: ") + Array(@hash[:attribution]).join(", ")  : _('Creator:') + @hash[:attribution] %>`. The commit will be part of #264 PR. Close this issue as completed.

[2022-11-25 21:33] #268 closed, assigned to pengyin-shan

[2022-11-25 22:31] pengyin-shan commented on #264
As a note, the attached full status file marks the issues, 3.1.0 status, my notes and _which are issues that need to be turned back in future migrations_:

<img width="1446" alt="Screenshot 2022-11-25 at 5 28 38 PM" src="https://user-images.githubusercontent.com/92752107/204060287-330885ac-4160-419e-a002-895f8366238e.png">

Make sure to check this in 3.1.1 migration and future migration:
[result.j

[2022-11-28 16:47] shilowil opened #269 "Update French for Portage template for systematic reviews"
We need to update the French translation of the Portage template for systematic reviews. The translation should be ready by November 30; when I have it in hand, I'll update on translation.io.

[2022-11-28 17:03] shilowil opened #270 "Rebrand support email address"
Rebrand the existing support email address (support@portagenetwork.ca) to more closely match the Alliance. Then update the address in FreshDesk and on the website.

[2022-11-28 18:58] shilowil commented on #260
Sorry this is so late! I'm also seeing a drop-down list on the "Templates" page, but am unsure if this is just something visible to the superadmin.

[2022-11-28 19:42] pengyin-shan commented on #260
I see, can you put a screenshot here? If that's also a place that needs unmanaged organization to be removed from the list, I'll apply changes to it.

[2022-11-28 20:07] shilowil commented on #260
Yup -- here it is:

![image](https://user-images.githubusercontent.com/30664432/204370909-4b69dfec-fdc4-4ae3-b291-e986bbacfab6.png)

[2022-11-28 20:29] pengyin-shan commented on #260
Sorry where is this screenshot coming from? You said in Templates page right? How you got there?

[2022-11-28 20:31] pengyin-shan commented on #260
Oh never mind, I found it. The templates is OK since it doesn't show **unmanaged organization**. For example, you won't see OMAFRA many times in this list

[2022-11-28 20:33] pengyin-shan commented on #260
Hold on..I noticed my local version is different from the remote version. I'll check if this is due to some uncommitted changes

[2022-11-28 20:34] shilowil commented on #269
Hi @pengyin-shan -- we've received the translations and I'm currently updating them. Could you check the following tickets to see if the translations have been added correctly? Thank you!

https://translation.io/ualbertalib/dmp-assistant-test/fr-CA?segment=161fe6ed&query=The%20types%20of%20data%20you%20collect%20may%20include%3A%20literature

https://translation.io/ualbertalib/dmp-assistant-test/f

[2022-11-28 21:30] pengyin-shan commented on #269
@isawil I did a sync on UAT, and to me, the translations are there. However, please confirm also, since I'm not familiar with french..Is https://uat.library.ualberta.ca:3000/org_admin/templates/3687/phases/3715/edit includes _your edit and corresponding french translation_?

if this page doesn't reflect your edit to the template, can you add it and check if the french are there or not?

[2022-11-28 21:39] shilowil commented on #269
@pengyin-shan Looking at it now, I'm seeing that the French translation has been updated but not the hyperlinks -- I'll go back and change those in translation.io, right?

[2022-11-28 21:48] pengyin-shan commented on #269
Do you mean the french translation still points to the wrong link while English is the correct version? Or English is wrong already?

[2022-11-28 22:37] pengyin-shan commented on #260
As a side note for navigation, the form on the Contributor page does not have unmanaged org listed:
<img width="982" alt="Screenshot 2022-11-28 at 5 36 28 PM" src="https://user-images.githubusercontent.com/92752107/204395511-46fd1472-6e74-4de8-be91-a6fbccff31db.png">.

Will keep this in mind.

[2022-11-29 16:53] shilowil commented on #269
Now both English and French are pointing to the wrong link. English had previously pointed to the correct link after changing it on the production site (though the changes haven't been published).

[2022-11-29 17:40] pengyin-shan commented on #269
Ok, I think for this time only, I'll go directly to the production server and update the translation there (i.e. on `dmp-assistant` translation.io), since you made updates there instead of on uat.

We can check on production translation this time without too much concern because the template hasn't been published yet. @isawil the English version on production is the the fixed version right?

[2022-11-29 17:53] shilowil commented on #269
Yep, the English version on production is the fixed version. Sorry about editing on the wrong site! I'll make edits on UAT moving forward.

[2022-11-29 17:56] pengyin-shan commented on #269
no worry! this time we are safe. we can start next time that we edit and test on `uat` first, then once we confirm the status on `uat`, we can copy (or re-perform) what we did to the production server. It will be the safest way to operate (and avoid inevitable crush lol).

I'll go to sync on production server.

[2022-11-29 18:17] shilowil commented on #269
Sounds good! Thanks. :)

[2022-11-29 18:39] pengyin-shan commented on #269
@isawil I just did a production server translation sync. Can you can if your changes and corresponding translations are there?

[2022-11-29 19:48] shilowil commented on #269
Yup! The links work now. Thanks! I still have a few translations to add and will update when they've all been added on translation.io.

[2022-11-29 20:04] pengyin-shan commented on #269
Ok cool!

[2022-11-30 18:42] shilowil commented on #269
@pengyin-shan All the translations have been added to translation.io!

[2022-11-30 20:46] shilowil opened #272 "Centre hospitalier de l’Université de Montréal not showing as institution"
We've received reports that the Centre hospitalier de l’Université de Montréal organization is experiencing multiple errors. Users say that the organizational administrator is not able to access administrative privileges, and that the organization does not show in the "Indicate the primary research organization" field.

In the production site, from the superadmin view, Centre hospitalier de l’Univ

[2022-11-30 20:51] pengyin-shan commented on #272
Adding admin in the 'organization' page does not automatically give admin user administrative privileges. Can you go to user page, use the 'Organizational admin privilege' checkbox (with API also checked) and see if the admin button comes back? Who is the admin?

[2022-11-30 20:59] shilowil commented on #272
I think I've fixed it -- somehow, the organization became unmanaged. I re-added the administrator and changed it to a managed organization and now it's appearing in results. Waiting on user to see if their admin privileges have been restored.

[2022-11-30 21:00] shilowil commented on #272
Adding that organizational admin privileges are now showing on my end. I think this is fixed, but let's wait on the users to confirm that it works on their end, too.

[2022-11-30 21:02] pengyin-shan commented on #272
Sounds good. Just fyi the organizational admin user should get all privileges, including API one. Just check the 'Organizational Privledge' checkbox and you should be good to go.

[2022-11-30 21:12] shilowil commented on #272
Thanks! I'll add the API privileges in the future. Just got confirmation from users that it's all working now, so I'll close the ticket.

[2022-11-30 21:12] #272 closed, assigned to shilowil, pengyin-shan

[2022-11-30 21:39] pengyin-shan commented on #269
I checked and seems that the automated translation.io syncing process that was built on our production server already picked up the translation. can you verify?